#footer {
  margin-top: 70px;
}
.ssp-main-container {
  font-family: 'proxima_nova_rgregular';
}
.ssp-main-container .ssp-footer .row-breadcrumb,
.ssp-main-container .ssp-footer .row-copyright,
.ssp-main-container .ssp-footer .row-footer-inner {
  box-sizing: border-box;
  width: calc(100% + 15px);
  display: table;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}
.ssp-main-container .ssp-footer .row-breadcrumb {
  padding: 40px 55px 30px;
}
.ssp-main-container .ssp-footer .row-breadcrumb h6 {
  color: #fff;
  font-family: "proxima_nova_rgregular";
  margin-left: 0;
}
.ssp-main-container .ssp-footer .breadcrumb {
  background-color: transparent;
}
.ssp-main-container .ssp-footer .row-footer > hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #666;
  background-image: none;
}
.ssp-main-container .ssp-footer .row-footer-inner {
  padding-bottom: 30px;
}
.ssp-main-container .ssp-footer .row-copyright span {
  font-family: "proxima_nova_rgregular";
}
.ssp-main-container .ssp-footer .row-copyright p {
  margin-bottom: 0;
}
.ssp-main-container .ssp-footer .row-copyright ul {
  text-align: right;
}
.ssp-main-container .ssp-footer .row-copyright li {
  display: inline-block;
  width: auto;
}
.ssp-main-container .ssp-footer .row-copyright li:after {
  content: '';
  margin: 0 19px 0 21px;
  border-right: 1px solid white;
}
.ssp-main-container .ssp-footer .row-copyright li:last-of-type:after {
  margin: 0;
  border: none;
}
.ssp-main-container .ssp-footer .copyright {
  width: 390px;
  right: calc(100% - 390px);
}
.ssp-main-container .ssp-footer .copyright p {
  line-height: 19px;
  margin-bottom: 0;
}
.ssp-main-container .ssp-footer .copyright-links {
  width: calc( 100% - 390px);
  left: 390px;
}
.ssp-main-container .ssp-footer .copyright-links li {
  margin-bottom: 0;
}
.ssp-main-container .ssp-footer .c-sm-4,
.ssp-main-container .ssp-footer .c-sm-8,
.ssp-main-container .ssp-footer .copyright,
.ssp-main-container .ssp-footer .copyright-links {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.ssp-main-container .ssp-footer .c-sm-4 {
  width: 33%;
}
.ssp-main-container .ssp-footer .c-sm-8 {
  width: 67%;
}
.ssp-main-container .ssp-footer a,
.ssp-main-container .ssp-footer p,
.ssp-main-container .ssp-footer span {
  font-size: 16px;
  color: #fff;
}
.ssp-main-container .ssp-footer h5 {
  margin: 0;
  color: #fff !important;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: none;
}
.ssp-main-container .ssp-footer h5,
.ssp-main-container .ssp-footer strong {
  font-family: 'proxima_nova_rgbold';
  font-weight: 400;
}
.ssp-main-container .ssp-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ssp-main-container .ssp-footer ul li {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 15px;
}
.ssp-main-container .ssp-footer a {
  text-decoration: none;
}
.ssp-main-container .ssp-footer a:hover {
  text-decoration: underline;
}
.ssp-main-container .ssp-footer a:hover i {
  background: #999;
  color: #fff;
}
.ssp-main-container .ssp-footer i {
  height: 35px;
  width: 35px;
  background: #fff;
  color: #444;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  transition: all 0.1s ease-in;
}
@media screen and (max-width: 1020px) {
  .ssp-main-container .ssp-footer .copyright,
  .ssp-main-container .ssp-footer .copyright-links {
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  .ssp-main-container .ssp-footer .row-copyright .copyright-links ul {
    text-align: left;
  }
  .ssp-main-container .ssp-footer .row-copyright .copyright-links li {
    display: block;
    margin-bottom: 20px;
  }
  .ssp-main-container .ssp-footer .row-copyright .copyright-links li:after {
    margin: 0;
    border: 0;
  }
}
@media screen and (max-width: 767px) {
  .ssp-main-container .ssp-footer .row-breadcrumb,
  .ssp-main-container .ssp-footer .row-footer-inner,
  .ssp-main-container .ssp-footer .row-copyright {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .ssp-main-container .ssp-footer .row-breadcrumb h6 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ssp-main-container .ssp-footer ul li {
    margin-bottom: 20px;
  }
  .ssp-main-container .ssp-footer .c-sm-4,
  .ssp-main-container .ssp-footer .c-sm-8 {
    width: 100%;
    display: block;
  }
  .ssp-main-container .ssp-footer .c-sm-4 {
    margin-bottom: 20px;
  }
  .ssp-main-container .ssp-footer .c-sm-4:last-of-type {
    margin-bottom: 0;
  }
}
