.ssp-student-assessment {
  background-image: url('../../imgs/sel-hero-placeholder-crop.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 15px;
}
.ssp-student-assessment h4 {
  font-family: 'proxima_nova_rgbold', 'Proxima Nova';
}
.ssp-student-assessment h4 span {
  color: #f84139;
}
.ssp-student-assessment .row {
  background-color: #fff;
}
.ssp-student-assessment .header {
  position: relative;
}
.ssp-student-assessment .header img {
  width: 100%;
}
.ssp-student-assessment .header .quote-container {
  width: 100%;
  padding: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(81, 127, 156, 0.7);
}
.ssp-student-assessment .header .quote-container h4,
.ssp-student-assessment .header .quote-container p {
  margin: 5px 0px;
  color: #fff;
}
.ssp-student-assessment .header .quote-container h4 span,
.ssp-student-assessment .header .quote-container p span {
  display: block;
}
.ssp-student-assessment .ssp-container-half-row .text {
  padding: 0px 30px;
  padding-top: 2%;
  padding-bottom: 3%;
}
.ssp-student-assessment .ssp-container-half-row .text h3,
.ssp-student-assessment .ssp-container-half-row .text h6 {
  font-family: 'proxima_nova_rgbold', 'Proxima Nova';
  font-weight: 700;
}
.ssp-student-assessment .ssp-container-half-row .text h6 {
  display: inline-block;
  width: auto;
  padding-top: 10px;
  border-top: 1px solid black;
  font-size: 14px;
}
.ssp-student-assessment .ssp-container-half-row .image {
  padding: 0px;
}
.ssp-student-assessment .ssp-container-half-row .image img {
  position: relative;
  filter: grayscale(100%);
}
.ssp-student-assessment .ssp-container-half-row .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ssp-student-assessment .ssp-container-half-row.red .image .overlay {
  background-color: #f84139;
  opacity: 0.6;
}
.ssp-student-assessment .ssp-container-half-row.yellow .image .overlay {
  background-color: #fcb715;
  opacity: 0.6;
}
.ssp-student-assessment .ssp-container-half-row.purple .image .overlay {
  background-color: #653279;
  opacity: 0.5;
}
.space {
  height: 200px;
  margin: 0 -15px;
}
.space.yellow {
  background-color: #fcb715;
  opacity: 0.6;
}
.space.purple {
  background-color: #653279;
  opacity: 0.5;
}
/*@media screen and (max-width: 991px) {
  .space {
    display: block;
  }
}*/
/*@media screen and (min-width: 992px) {
  .space {
    display: none;
  }
}*/
