/*gobal secondstep.org v6.css*/
.upper-line-title div,
.ssp-sel .row-product-feature-left div,
.ssp-sel .row-half-image aside div {
  border-top: 1px solid black;
  padding-top: 5px;
  padding-bottom: 10px;
  display: inline-block;
}
.upper-line-title div span,
.ssp-sel .row-product-feature-left div span,
.ssp-sel .row-half-image aside div span {
  font-family: "proxima_nova_rgbold", "Proxima Nova";
  font-weight: 600;
}
.ssp-student-assessment {
  background-image: url('../../imgs/sel-hero-placeholder-crop.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 15px;
}
.ssp-student-assessment h4 {
  font-family: 'proxima_nova_rgbold', 'Proxima Nova';
}
.ssp-student-assessment h4 span {
  color: #f84139;
}
.ssp-student-assessment .row {
  background-color: #fff;
}
.ssp-student-assessment .header {
  position: relative;
}
.ssp-student-assessment .header img {
  width: 100%;
}
.ssp-student-assessment .header .quote-container {
  width: 100%;
  padding: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(81, 127, 156, 0.7);
}
.ssp-student-assessment .header .quote-container h4,
.ssp-student-assessment .header .quote-container p {
  margin: 5px 0px;
  color: #fff;
}
.ssp-student-assessment .header .quote-container h4 span,
.ssp-student-assessment .header .quote-container p span {
  display: block;
}
.ssp-student-assessment .ssp-container-half-row .text {
  padding: 0px 30px;
  padding-top: 2%;
  padding-bottom: 3%;
}
.ssp-student-assessment .ssp-container-half-row .text h3,
.ssp-student-assessment .ssp-container-half-row .text h6 {
  font-family: 'proxima_nova_rgbold', 'Proxima Nova';
  font-weight: 700;
}
.ssp-student-assessment .ssp-container-half-row .text h6 {
  display: inline-block;
  width: auto;
  padding-top: 10px;
  border-top: 1px solid black;
  font-size: 14px;
}
.ssp-student-assessment .ssp-container-half-row .image {
  padding: 0px;
}
.ssp-student-assessment .ssp-container-half-row .image img {
  position: relative;
  filter: grayscale(100%);
}
.ssp-student-assessment .ssp-container-half-row .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ssp-student-assessment .ssp-container-half-row.red .image .overlay {
  background-color: #f84139;
  opacity: 0.6;
}
.ssp-student-assessment .ssp-container-half-row.yellow .image .overlay {
  background-color: #fcb715;
  opacity: 0.6;
}
.ssp-student-assessment .ssp-container-half-row.purple .image .overlay {
  background-color: #653279;
  opacity: 0.5;
}
.space {
  height: 200px;
  margin: 0 -15px;
}
.space.yellow {
  background-color: #fcb715;
  opacity: 0.6;
}
.space.purple {
  background-color: #653279;
  opacity: 0.5;
}
@media screen and (max-width: 991px) {
  .ssp-container-half-row .image {
    display: none;
  }
  .space {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .space {
    display: none;
  }
}
.ssp-funding-bubbles {
  margin-top: 30px;
}
.ssp-funding-bubbles h4.page-title {
  font-family: 'proxima_nova_rgregular', 'Proxima Nova';
  display: inline-block;
}
.ssp-funding-bubbles .social-links {
  float: right;
  display: inline;
  list-style-type: none;
  padding: 0;
  margin-top: 3px;
}
.ssp-funding-bubbles .social-links li {
  display: inline;
  font-size: 18px;
  padding: 10px;
}
.ssp-funding-bubbles section {
  position: relative;
}
.ssp-funding-bubbles article {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  max-width: 330px;
}
.ssp-funding-bubbles article img {
  max-width: 100%;
  min-height: 300px;
  object-fit: cover;
}
.ssp-funding-bubbles .figure-div {
  position: absolute;
  width: calc(70%);
  top: 150px;
}
.ssp-funding-bubbles figure {
  width: 150px;
  height: 150px;
  background-color: #41779c;
  border-radius: 100px;
  display: table;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  top: 25px;
}
.ssp-funding-bubbles figure h4 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 22px;
}
.ssp-funding-bubbles footer {
  background-color: #e1dfe4;
  padding: 40px 20px;
  max-width: 100%;
}
.ssp-funding-bubbles p,
.ssp-funding-bubbles ul {
  list-style-type: square;
  font-size: 19px;
  padding-left: 0;
  background-color: #e1dfe4;
  padding: 40px 20px;
  max-width: 100%;
  margin-bottom: 0;
}
.ssp-funding-bubbles ul {
  padding: 40px;
}
.ssp-funding-bubbles span {
  display: block;
  padding: 0 20px 20px 20px;
  background-color: #e1dfe4;
}
@media screen and (min-width: 992px) {
  .pad-lg-lg {
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media screen and (max-width: 767px) {
  .pad-sm-none {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 450px) {
  .ssp-funding-bubbles article {
    width: 100% !important;
    margin: 0 auto;
    position: relative;
    float: none;
    margin-bottom: 40px;
  }
}
.ssp-sel {
  margin-top: 30px;
}
.ssp-sel hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid rgba(137, 137, 137, 0.5);
}
.ssp-sel h4.page-title {
  font-family: 'proxima_nova_rgregular', 'Proxima Nova';
  display: inline-block;
}
.ssp-sel .social-links {
  float: right;
  display: inline;
  list-style-type: none;
  padding: 0;
  margin-top: 3px;
}
.ssp-sel .social-links li {
  display: inline;
  font-size: 18px;
  padding: 10px;
}
.ssp-sel .row-hero-image {
  background-image: url('http://www.cfchildren.org/Portals/1/child%20safety%2041.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: calc(100% + 30px);
}
.ssp-sel .row-hero-image aside,
.ssp-sel .row-hero-image section {
  height: 400px;
}
.ssp-sel .row-hero-image section {
  text-align: center;
  position: relative;
}
.ssp-sel .row-hero-image section a {
  position: absolute;
  bottom: 30px;
  color: #fff;
}
.ssp-sel .row-hero-image table {
  padding: 0;
  height: 100%;
}
.ssp-sel .row-hero-image table td {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.ssp-sel .row-hero-image table td h1,
.ssp-sel .row-hero-image table td ul {
  color: #fff;
  text-align: left;
  width: 70%;
  margin: 30px;
  font-family: "proxima_nova_rgbold", "Proxima Nova";
  font-weight: 600;
}
.ssp-sel .row-hero-image table td h1 {
  font-size: 44px;
}
.ssp-sel .row-hero-image table td ul {
  border-top: 2px solid #f84139;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 22px;
}
.ssp-sel .row-hero-image table div {
  margin: 0 auto;
  max-width: 395px;
}
.ssp-sel .row-copy-gray {
  background-color: #e1dfe4;
  padding: 35px 50px 20px;
  font-size: 19px;
}
.ssp-sel .row-product-feature-left {
  padding: 40px 60px;
}
.ssp-sel .row-product-feature-left section {
  padding-left: 40px;
}
.ssp-sel .row-product-feature-left table {
  height: 100%;
}
.ssp-sel .row-product-feature-left table td {
  text-align: center;
}
.ssp-sel .row-product-feature-left table td img {
  max-width: 375px;
}
.ssp-sel .row-product-feature-left ul {
  padding-left: 20px;
  list-style-type: square;
  margin-bottom: 20px;
}
.ssp-sel .row-green-features {
  background-image: url('../imgs/green-background.png');
  background-color: #54bc85;
  background-size: cover;
  background-position: center;
  padding: 40px;
}
.ssp-sel .row-green-features section img {
  position: relative;
  bottom: 5px;
  margin: 10px 10px 10px 0;
}
.ssp-sel .row-green-features section h3 {
  display: inline;
  color: #222;
}
.ssp-sel .row-green-features section a {
  color: #222;
  text-decoration: underline;
}
.ssp-sel .row-green-features section a:hover {
  color: #fff;
}
.ssp-sel .row-standard {
  padding: 50px;
}
.ssp-sel .row-testimonial-left,
.ssp-sel .row-testimonial-right {
  margin-top: 25px;
  margin-bottom: 15px;
}
.ssp-sel .row-testimonial-left img,
.ssp-sel .row-testimonial-right img {
  width: 150px;
  height: 150px;
  margin: 0 20px 20px 0;
}
.ssp-sel .row-testimonial-left blockquote,
.ssp-sel .row-testimonial-right blockquote {
  font-family: "ProximaNovaLight";
  color: #444;
  margin-bottom: 10px;
  border: 0;
}
.ssp-sel .row-testimonial-left cite ul,
.ssp-sel .row-testimonial-right cite ul {
  list-style-type: none;
  padding: 0;
}
.ssp-sel .row-testimonial-left cite ul li,
.ssp-sel .row-testimonial-right cite ul li {
  font-family: "ProximaNovaSemi";
  color: #444;
  font-size: 0.75em;
  font-style: normal;
  margin: 0;
}
.ssp-sel .row-testimonial-left img {
  float: left;
}
.ssp-sel .row-testimonial-right img {
  float: right;
  margin: 0 0 20px 20px;
}
.ssp-sel .row-testimonial-right ul {
  float: right;
  text-align: right;
  margin-right: 15px;
}
.ssp-sel .link-list ul {
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
}
.ssp-sel .row-half-image aside {
  margin-top: 10px;
  padding: 40px;
}
.ssp-sel .row-half-image section {
  padding: 0;
}
.ssp-sel .row-half-image figure {
  position: relative;
  float: left;
  padding: 0;
}
.ssp-sel .row-half-image figure::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.ssp-sel .row-half-image img {
  height: 100%;
  display: block;
  filter: grayscale(100%);
  z-index: 1;
  object-fit: cover;
}
.ssp-sel .overlay-red figure::before {
  background-color: #f84139;
  opacity: 0.6;
}
.ssp-sel .overlay-yellow figure::before {
  background-color: #fcb715;
  opacity: 0.6;
}
.ssp-sel .overlay-purple figure::before {
  background-color: #653279;
  opacity: 0.6;
}
.ssp-sel .row-three-column {
  padding: 50px;
}
.ssp-sel .row-three-column section {
  margin-top: 10px;
}
.ssp-sel .row-three-column img {
  margin: 15px 0;
  object-fit: cover;
  height: 125px;
}
.ssp-sel .row-three-column p {
  margin-bottom: 30px;
}
.ssp-sel .row-three-column a {
  display: block;
  text-align: center;
  margin-bottom: 0;
}
.ssp-sel .row-three-column a,
.ssp-sel .row-three-column a:hover,
.ssp-sel .row-three-column a:visited {
  color: #fff;
  text-decoration-color: #fff;
}
.ssp-sel .background-gray {
  background-color: #e1dfe4;
}
.ssp-sel .background-light-gray {
  background-color: #f1f1f1;
}
@media screen and (max-width: 1199px) {
  .ssp-sel .row-product-feature-left {
    height: 335px;
  }
}
@media screen and (max-width: 991px) {
  .ssp-sel .row-product-feature-left {
    height: 355px;
  }
  .ssp-sel .row-product-feature-left table td img {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .ssp-sel .row-hero-image table td div h1,
  .ssp-sel .row-hero-image table td div ul {
    width: auto;
  }
  .ssp-sel .row-product-feature-left {
    height: auto;
  }
  .ssp-sel .row-half-image figure {
    float: none;
  }
  .ssp-sel .row-half-image img {
    width: 100%;
  }
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'), url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "ProximaNovaItalic";
  src: url('../fonts/ProximaNova-RegIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaThin";
  src: url('../fonts/ProximaNova-Thin.otf') format('opentype'), url('../fonts/ProximaNova-Thin-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaThinItalic";
  src: url('../fonts/ProximaNova-ThinIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaLight";
  src: url('../fonts/ProximaNova-Light.otf') format('opentype'), url('../fonts/ProximaNova-Light-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaLightItalic";
  src: url('../fonts/ProximaNova-LightIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaSemi";
  src: url('../fonts/ProximaNova-Sbold.otf') format('opentype'), url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaSemiItalic";
  src: url('../fonts/ProximaNova-SboldIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "ProximaNovaBoldItalic";
  src: url('../fonts/ProximaNova-BoldIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "ProximaNovaExtraBold";
  src: url('../fonts/ProximaNova-Extrabld.otf') format('opentype');
}
@font-face {
  font-family: "ArialBlack";
  src: url('../fonts/arial_black-webfont.ttf') format('truetype');
}
.ssp-main-container {
  font-size: 16px;
  /* Quote */
  /* End Quote */
  /* Images */
  /* End Images */
}
.ssp-main-container h1,
.ssp-main-container h2,
.ssp-main-container h3,
.ssp-main-container h4,
.ssp-main-container h5,
.ssp-main-container h6 {
  /*TODO: changed font-family to bold from thin*/
  font-family: 'ProximaNovaBold', sans-serif;
  color: #000;
  /*TODO: change color to #444?*/
  margin: 10px 0 5px 0;
  font-weight: bold;
}
.ssp-main-container h1.regular,
.ssp-main-container h2.regular,
.ssp-main-container h3.regular,
.ssp-main-container h4.regular,
.ssp-main-container h5.regular,
.ssp-main-container h6.regular {
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 1.500em;
  /*TODO: change everything to #000?*/
  color: #333;
}
.ssp-main-container h1.light,
.ssp-main-container h2.light,
.ssp-main-container h3.light,
.ssp-main-container h4.light,
.ssp-main-container h5.light,
.ssp-main-container h6.light {
  font-family: 'ProximaNovaThin', sans-serif;
  margin: 10px 0 10px 0;
}
.ssp-main-container h1.semi,
.ssp-main-container h2.semi,
.ssp-main-container h3.semi,
.ssp-main-container h4.semi,
.ssp-main-container h5.semi,
.ssp-main-container h6.semi {
  font-family: 'ProximaNovaSemi', sans-serif;
}
.ssp-main-container h1 {
  font-size: 2.250em;
}
.ssp-main-container h2 {
  font-size: 1.750em;
}
.ssp-main-container h3 {
  font-size: 1.5em;
}
.ssp-main-container h4 {
  font-size: 1.313em;
}
.ssp-main-container h5 {
  font-size: 1.5em;
}
.ssp-main-container h6 {
  font-size: 1.5em;
}
.ssp-main-container strong {
  font-family: 'ProximaNovaSemi', 'proxima_nova_ltsemibold';
}
.ssp-main-container p,
.ssp-main-container ul,
.ssp-main-container ol {
  font-family: 'ProximaNovaLight', 'proxima_nova_ltlight';
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000;
}
.ssp-main-container p li,
.ssp-main-container ul li,
.ssp-main-container ol li {
  margin-bottom: 5px;
}
.ssp-main-container p.intro,
.ssp-main-container ul.intro,
.ssp-main-container ol.intro {
  font-size: 1.185em;
}
.ssp-main-container p.small {
  font-family: 'ProximaNovaRegular';
  font-size: 0.875em;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #222;
}
.ssp-main-container p.intro {
  font-size: 1.185em;
  line-height: 1.4em;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #444;
}
.ssp-main-container p.byline,
.ssp-main-container p.caption {
  font-family: 'ProximaNovaSemi';
  color: #444;
  font-size: 0.875em;
}
.ssp-main-container ul {
  list-style-type: square;
}
.ssp-main-container ul ul {
  list-style-type: circle;
}
.ssp-main-container ul.none {
  list-style: none;
  padding: 0;
}
.ssp-main-container a {
  cursor: pointer;
  color: #0478b5;
  text-decoration-color: #0478b5;
  text-decoration: none;
}
.ssp-main-container a:hover {
  color: #0478b5;
  text-decoration: underline;
}
.ssp-main-container a:visited {
  color: #8961b2;
  text-decoration-color: #8961b2;
}
.ssp-main-container a:active {
  color: #0478b5;
}
.ssp-main-container a.copy {
  color: #0049c3;
}
.ssp-main-container a.copy:visited {
  color: #7819d5;
}
.ssp-main-container a,
.ssp-main-container button {
  cursor: pointer;
}
.ssp-main-container .button,
.ssp-main-container .ssp-sel .row-three-column a {
  cursor: pointer;
  background-color: #41779c;
  padding: 13px 60px 13px 60px;
  margin-bottom: 20px;
}
.ssp-main-container .button:hover,
.ssp-main-container .ssp-sel .row-three-column a:hover {
  background-color: #4ba0c8;
}
.ssp-main-container .button p,
.ssp-main-container .ssp-sel .row-three-column a p {
  font-family: "ProximaNovaSemi";
  font-size: 1em;
  color: #fff;
  margin: 0px;
  text-align: center;
}
.ssp-main-container .ssp-btn {
  display: inline-block;
  margin: 15px 0 0 0;
  width: auto;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0px solid transparent;
  white-space: nowrap;
  padding: 13px 60px 13px 60px;
  border-radius: 0;
  color: #fff !important;
  font-family: 'ProximaNovaSemi', sans-serif;
  background: #4b82a8;
}
.ssp-main-container .ssp-btn:hover {
  background-color: #4ba0c8;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
.ssp-main-container .ssp-btn:visited {
  text-decoration: none;
}
.ssp-main-container .ssp-btn.alert-bt {
  background-color: #d44e05;
  border: 2px solid #ab4501;
  padding: 11px 60px 11px 60px;
  font-family: 'ProximaNovaBold', sans-serif;
}
.ssp-main-container .ssp-btn.alert-bt:hover {
  background-color: #b34304;
  border: 2px solid #b34304;
  color: #fff !important;
}
.ssp-main-container .ssp-btn.alert-bt p {
  font-family: "ProximaNovaBold";
  font-size: 1em;
}
.ssp-main-container .ssp-btn.ghost-btn {
  border: 2px solid #41779c;
  color: #41779c !important;
  background: #fff;
  padding: 11px 60px 11px 60px;
}
.ssp-main-container .ssp-btn.ghost-btn:hover {
  background-color: #41779c;
  color: #fff !important;
}
.ssp-main-container .ssp-btn.ghost-btn p {
  font-family: "ProximaNovaSemi";
  font-size: 1em;
  color: #41779c;
  margin: 0px;
  text-align: center;
}
.ssp-main-container .ssp-btn.ghost-btn:hover p {
  color: #fff;
}
.ssp-main-container .ssp-btn.btn-width-100 {
  width: 100%;
}
.ssp-main-container .less-padding {
  padding: 13px 25px 13px 25px;
}
.ssp-main-container .full-width {
  width: 100%;
  padding: 13px 25px 13px 25px;
}
.ssp-main-container .rule {
  border-bottom: 1px solid #aeaeae;
  padding: 10px 0px 5px 0px;
}
.ssp-main-container .field-title {
  font-family: 'ProximaNovaBold';
  font-size: 0.875em;
  color: #333;
  margin-bottom: 5px;
  margin-top: 10px;
}
.ssp-main-container .quote {
  padding: 20px;
}
.ssp-main-container .quote img {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 20px 20px 0;
}
.ssp-main-container .quote blockquote {
  font-family: "ProximaNovaLight";
  font-size: 1.185em;
  line-height: 1.4em;
  color: #444;
  font-style: italic;
  margin: 0 0 20px 0;
}
.ssp-main-container .quote cite {
  font-family: "ProximaNovaSemi";
  color: #888;
  float: right;
  font-size: 0.75em;
  font-style: normal;
}
.ssp-main-container .head-img {
  margin-bottom: 15px;
}
.ssp-main-container .body-img {
  margin-bottom: 15px;
  margin-top: 10px;
}
.ssp-main-container .body-img-left {
  margin: 15px 25px 15px 0px;
  float: left;
}
.ssp-main-container .body-img-right {
  margin: 15px 0px 15px 25px;
  float: right;
}
@media screen and (max-width: 991px) {
  .ssp-main-container .ssp-container-half-row .image {
    display: none;
  }
  .ssp-main-container .space {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .ssp-main-container .space {
    display: none;
  }
}
