@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Reg-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'), url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('../fonts/ProximaNova-Light-webfont.eot');
    src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Light-webfont.woff') format('woff'), url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Sbold-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/ProximaNova-Bold-webfont.eot');
    src: url('../fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_thin';
    src: url('../fonts/ProximaNova-Thin-webfont.eot');
    src: url('../fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Thin-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Thin-webfont.woff') format('woff'), url('../fonts/ProximaNova-Thin-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Thin-webfont.svg#proxima_nova_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@proxima-nova-rgregular: 'proxima_nova_rgregular', sans-serif;
@proxima-nova-ltlight: 'proxima_nova_ltlight', sans-serif;
@proxima-nova-ltsemibold: 'proxima_nova_ltsemibold', sans-serif;
@proxima-nova-rgbold: 'proxima_nova_rgbold', sans-serif;
@proxima-nova-thin: 'proxima_nova_thin', sans-serif;
@a-link-color: #0478b5;
@a-link-visited: #8961b2;
@bt-blue: #4b82a8;
@bt-blue-hover: #4ba0c8;
@bt-alert-bg-color: #d44e05;
@bt-alert-border-color: #ab4501;
@bt-alert-hover-color: #b34304;

#login .loginGroup a {
    font-size: 16px !important;
    text-transform: none !important;
}

#login .loginGroup a:hover {
    text-decoration: underline !important;
}

#login .registerGroup a:hover {
    color: @a-link-color !important;
    text-decoration: underline !important;
}

.ssp-main-container {
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
        font-family: @proxima-nova-rgregular;
        color: #000;
        margin: 10px 0 10px 0;

        &.regular {
            font-family: @proxima-nova-rgregular;
            font-size: 1.500em;
            color: #333;
        }

        &.light {
            font-family: @proxima-nova-thin;
            margin: 10px 0 10px 0;
        }

        &.semi {
            font-family: @proxima-nova-ltsemibold;
        }
    }

    h1 {
        font-size: 2.250em;
    }

    h2 {
        font-size: 1.750em;
    }

    h3 {
        font-size: 1.500em;
    }

    h4 {
        font-size: 1.313em;
    }

    h5 {
        font-size: 1.500em;
        margin-bottom: 8px;
    }

    h6 {
        font-size: 1.500em;
        margin-bottom: 8px;
    }

    strong {
        font-family: @proxima-nova-ltsemibold;
    }

    p, ul, ol {
        font-family: @proxima-nova-ltlight;
        font-size: 1em;
        margin-top: 0px;
        margin-bottom: 10px;
        color: #000;

        li {
            margin-bottom: 5px;
        }

        &.intro {
            font-size: 1.185em;
        }
    }

    p {
        &.small {
            font-family: @proxima-nova-rgregular;
            font-size: 0.875em;
            line-height: 22px;
            margin-top: 0px;
            margin-bottom: 15px;
            color: #222;
        }

        &.intro {
            font-size: 1.185em;
            line-height: 1.4em;
            margin-top: 0px;
            margin-bottom: 15px;
            color: #444;
        }

        &.byline, &.caption {
            font-family: @proxima-nova-ltsemibold;
            color: #444;
            font-size: 0.875em;
        }
    }

    ul {
        list-style-type: square;

        ul {
            list-style-type: circle;
        }

        &.none {
            list-style: none;
            padding: 0;
        }
    }

    a {
        cursor: pointer;
        color: @a-link-color;
        text-decoration-color: @a-link-color;
        text-decoration: none;

        &:hover {
            color: @a-link-color;
            text-decoration: underline;
        }

        &:visited {
            color: @a-link-visited;
            text-decoration-color: @a-link-visited;
        }

        &:active {
            color: @a-link-color;
        }

        &.copy {
            color: #0049c3;

            &:visited {
                color: @a-link-visited;
            }
        }
    }

    a, button {
        cursor: pointer;
    }

    .ssp-btn {
        display: inline-block;
        margin: 15px 0 15px 0;
        width: auto;
        font-weight: normal;
        text-align: center;
        font-size: 1em;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 0px solid transparent;
        white-space: nowrap;
        padding: 13px 60px 13px 60px;
        border-radius: 0;
        color: #fff !important;
        font-family: @proxima-nova-ltsemibold;
        background: @bt-blue;

        &:hover {
            background-color: @bt-blue-hover;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &.alert-bt {
            background-color: @bt-alert-bg-color;
            border: 2px solid @bt-alert-border-color;
            padding: 11px 60px 11px 60px;
            font-family: @proxima-nova-rgbold;

            &:hover {
                background-color: @bt-alert-hover-color;
                border: 2px solid@bt-alert-hover-color;
                color: #fff !important;
            }

            p {
                font-family: @proxima-nova-rgbold;
                font-size: 1em;
            }
        }

        &.ghost-btn {
            border: 2px solid @bt-blue;
            color: @bt-blue !important;
            background: #fff;
            padding: 11px 60px 11px 60px;

            &:hover {
                background-color: @bt-blue;
                color: #fff !important;
            }

            p {
                font-family: @proxima-nova-ltsemibold;
                font-size: 1em;
                color: @bt-blue;
                margin: 0px;
                text-align: center;
            }

            &:hover p {
                color: #fff;
            }
        }

        &.btn-width-100 {
            width: 100%;
        }
    }

    .less-padding {
        padding: 13px 25px 13px 25px;
    }

    .full-width {
        width: 100%;
        padding: 13px 25px 13px 25px;
    }

    .rule {
        border-bottom: 1px solid #aeaeae;
        padding: 10px 0px 5px 0px;
    }

    .field-title {
        font-family: @proxima-nova-rgbold;
        font-size: 0.875em;
        color: #333;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .quote {
        padding: 20px;

        img {
            width: 150px;
            height: 150px;
            float: left;
            margin: 0 20px 20px 0;
        }

        blockquote {
            font-family: @proxima-nova-ltlight;
            font-size: 1.185em;
            line-height: 1.4em;
            color: #444;
            font-style: italic;
            margin: 0 0 20px 0;
        }

        cite {
            font-family: @proxima-nova-ltsemibold;
            color: #888;
            float: right;
            font-size: 0.75em;
            font-style: normal;
        }
    }

    .head-img {
        margin-bottom: 15px;
    }

    .body-img {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .body-img-left {
        margin: 15px 25px 15px 0px;
        float: left;
    }

    .body-img-right {
        margin: 15px 0px 15px 25px;
        float: right;
    }

    @media screen and (max-width: 991px) {
        .ssp-container-half-row {
            .image {
                display: none;
            }
        }

        .space {
            display: block;
        }
    }

    @media screen and (min-width: 992px) {
        .space {
            display: none;
        }
    }
    //ADD ALL NEW CSS RULES ABOVE THIS COMMENT TO BE NESTED WITHIN THE .SSP-MAIN-CONTAINER PARENT DIV
}
