@proxima-nova-rgregular: 'proxima_nova_rgregular', sans-serif;
@proxima-nova-regular-italic: 'proxima_nova_regular_italic', sans-serif;
@proxima-nova-ltlight: 'proxima_nova_ltlight', sans-serif;
@proxima-nova-ltsemibold: 'proxima_nova_ltsemibold', sans-serif;
@proxima-nova-rgbold: 'proxima_nova_rgbold', sans-serif;
@proxima-nova-bold-italic: 'proxima_nova_bold_italic', sans-serif;
@proxima-nova-xbold: 'proxima_nova_xbold', sans-serif;
@proxima-nova-ltsemibold: 'proxima_nova_ltsemibold', sans-serif;
@proxima-nova-ltlight: 'proxima_nova_ltlight', sans-serif;
@proxima-nova-thin: 'proxima_nova_thin', sans-serif;
@header-color: #444;
@body-color: #222;
@medium-gray: #888;
@a-link-color: #0077c7;
@a-link-visited: #8a42a6;
@bt-blue: #41779c;
@bt-blue-hover: #4ba0c8;
@grade-2-yellow: #fcb715;
@grade-5-purple: #653279;
@bpu-green: #33a86a;
@cpu-red: #F84139;
@ms-blue: #47a7f1;
@ms-teal: #26bbc3;
@bt-alert-bg-color: #d44e05;
@bt-alert-border-color: #ab4501;
@bt-alert-hover-color: #b34304;
@color-success-red: rgba(206,20,67,1);
@color-success-blue: rgba(65,119,156, 1);
@color-success-green: rgba(51,168,106,1);
@color-success-purple: rgba(101,50,121, 1);

.ssp-main-container {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  color: @body-color;

  .color-body-copy {
    color: @body-color;
  }
  .color-header, .color-header:hover {
    color: @header-color;
    text-decoration-color: @header-color;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: @proxima-nova-rgbold;
    font-weight: 400;
    color: @header-color;
    margin: 10px 0 5px;
    em {
      font-family: @proxima-nova-bold-italic;
      font-weight: 400;
      font-style: normal;
    }
    &.regular {
      font-family: @proxima-nova-rgregular;
      em {
        font-family: @proxima-nova-regular-italic;
        font-style: normal;
      }
    }
  }

  h1 {
    // font-size: 24px;
    font-size: 1.25em;
    line-height: 28px;
    letter-spacing: 0px;
  }

  h1.large, .row-page-title h1.large {
    font-size: 2.1875em;
  }

  // h2.hero {
  //   // font-size: 28px;
  //   font-size: 1.75em;
  // }

  h2.large {
    // font-size: 40px;
    font-size: 2.5em;
    // line-height: ;
  }

  h2 {
    // font-size: 35px;
    font-size: 2.1875em;
    // line-height: ;
  }

  h3 {
    // font-size: 28px;
    font-size: 1.75em;
    line-height: 33px;
  }

  h4 {
    // font-size: 24px;
    font-size: 1.5em;
    // line-height: ;
  }

  h5 {
    // font-size: 21px;
    font-size: 1.3125em;
    margin-bottom: 8px;
    line-height: 1.1em;
  }

  h6 {
    // font-size: 18px;
    font-size: 1.125em;
    margin-bottom: 8px;
    // line-height: ;
  }

  h3, h5 {
    text-transform: none;
  }

  p strong, strong {
    font-family: @proxima-nova-rgbold;
    font-weight: 400;
    em {
      font-family: @proxima-nova-bold-italic;
      font-weight: 400;
      font-style: normal;
    }
    &.intro {
      font-size: 19px;
      line-height: 30px;
    }
    &.large{
      font-size: 19px;
      line-height: 30px;
    }
  }

  em {
    font-style: normal;
    font-family: @proxima-nova-regular-italic;
  }

  ol, p, ul {
    font-family: @proxima-nova-rgregular;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    color: @body-color;
    em {
      font-family: @proxima-nova-regular-italic;
      font-style: normal;
    }
    li {
      margin-bottom: 5px;
    }
    &.intro {
      font-size: 19px;
      line-height: 30px;
      color: @header-color;
    }
    &.large{
      font-size: 19px;
      line-height: 30px;
    }
  }

  p {
    &.byline, &.caption, &.small {
      font-family: @proxima-nova-rgregular;
      font-size: 0.875em;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 15px;
      color: @body-color;
      em {
        font-family: @proxima-nova-regular-italic;
        font-style: normal;
      }
    }
    &.byline, &.caption {
      font-family: @proxima-nova-rgbold;
      font-weight: 400;
      em {
        font-family: @proxima-nova-bold-italic;
        font-weight: 400;
        font-style: normal;
      }
    }
    &.intro {
      margin-top: 0;
      margin-bottom: 15px;
    }
    &.regular {
      margin-bottom: 10px;
    }
  }

  span {
    font-family: @proxima-nova-rgregular;
    font-size: 1em;
    &.intro {
      font-size: 19px;
      line-height: 30px;
      color: @header-color;
    }
    &.small {
      color: @body-color;
      font-size: 0.875em;
    }
    &.large{
      font-size: 19px;
      line-height: 30px;
    }
    &.jumbo{
      font-size: 5em;
    }
  }

  ul {
    list-style-type: square;
    ul {
      list-style-type: circle;
    }
    &.none {
      list-style: none;
      padding: 0;
    }
  }

  a {
    font-family: @proxima-nova-rgregular;
    cursor: pointer;
    color: @a-link-color;
    text-decoration-color: @a-link-color;
    text-decoration: none;
    &:hover {
      color: @a-link-color;
      text-decoration: underline;
    }
    &:visited {
      color: @a-link-visited;
      text-decoration-color: @a-link-visited;
    }
    &:active {
      color: @a-link-color;
    }
    &.copy {
      color: @a-link-color;
      &:visited {
        color: @a-link-visited;
      }
    }
    &.centered-icon {
      display: inline-block;
      text-align: center;
    }
  }

  @media screen and (max-width: 767px){
    .text-center-mobile {
      text-align: center;
    }
  }

  .ssp-btn {
    display: inline-block;
    margin: 15px 0;
    padding: 13px 60px;
    width: auto;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0 solid transparent;
    border-radius: 0;
    color: #fff !important;
    font-family: @proxima-nova-rgbold;
    font-weight: 400;
    background: @bt-blue;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    em {
      font-family: @proxima-nova-bold-italic;
      font-weight: 400;
      font-style: normal;
    }
    &:hover {
      background-color: @bt-blue-hover;
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }

    // .ssp-btn (continued){
    &.alert-bt {
      background-color: @bt-alert-bg-color;
      border: 2px solid @bt-alert-border-color;
      padding: 11px 60px;
      font-family: @proxima-nova-rgbold;
      font-weight: 400;
      em {
        font-family: @proxima-nova-bold-italic;
        font-weight: 400;
        font-style: normal;
      }
      &:hover {
        background-color: @bt-alert-hover-color;
        border: 2px solid@bt-alert-hover-color;
        color: #fff !important;
      }
      p {
        font-family: @proxima-nova-rgbold;
        font-weight: 400;
        font-size: 1em;
        em {
          font-family: @proxima-nova-bold-italic;
          font-weight: 400;
          font-style: normal;
        }
      }
    }

    // .ssp-btn (continued){
    &.white-btn {
      background: #fff;
      color: #00c1bb !important;
      &:hover {
        color: darken(#00c1bb, 5%) !important;
      }
    }

    // .ssp-btn (continued){
    &.ghost-btn {
      border: 2px solid @bt-blue;
      color: @bt-blue !important;
      background: transparent;
      padding: 11px 60px;
      &:hover {
        background-color: @bt-blue;
        color: #fff !important;
      }
      p {
        font-family: @proxima-nova-rgbold;
        font-weight: 400;
        font-size: 1em;
        color: @bt-blue;
        margin: 0;
        text-align: center;
        em {
          font-family: @proxima-nova-bold-italic;
          font-weight: 400;
          font-style: normal;
        }
      }
      &:hover p {
        color: #fff;
      }
      &-white{
        color: #fff !important;
        border-color: #fff;
        margin-top: 30px;
        display: inline-block;
        text-decoration: none;
      }
    }

    // .ssp-btn (continued){
    &.btn-width-100 {
      width: 100%;
    }
    // .ssp-btn (continued){
    &.ghost-btn-white {
      border: 1px solid #fff;
      color: #fff;
      transition: 200ms;
      display: inline-block;
      &:hover {
        background-color: #fff;
        text-decoration: none;
        color: @bt-blue !important;
      }
    }
  }

  .font-white {
    a, button, h1, h2, h3, h4, h5, h6, i, li, ol, ol.intro, p, p.intro, span, span.intro, strong, ul, ul.intro {
      color: #fff;
    }
  }
  .font-dark{
    a, button, h1, h2, h3, h4, h5, h6, i, li, ol, ol.intro, p, p.intro, span, span.intro, strong, ul, ul.intro {
      color: #333;
    }
    a{
      text-decoration: underline;
    }
  }
  .font-green {
    color: @bpu-green;
    margin-bottom: 15px;
  }
  .font-red {
    color: #ce1343;
    margin-bottom: 15px;
  }
  .font-blue {
    color: @bt-blue;
    margin-bottom: 15px;
  }
  .font-teal{
    color: @ms-teal;
    margin-bottom: 15px;
  }
  .font-orange{
    color:#f15722;
    margin-bottom: 15px;
  }

  .full-width {
    width: 100%;
    padding: 13px 25px;
  }

  .clearfix-block {
    clear: both;
    display: block;
  }

  .rule {
    border-bottom: 1px solid #aeaeae;
    padding: 10px 0 5px;
  }

  .field-title {
    font-family: @proxima-nova-rgbold;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 15px;
    color: @body-color;
    em {
      font-family: @proxima-nova-bold-italic;
      font-weight: 400;
      font-style: normal;
    }
  }

  .quote {
    padding: 20px;
    img {
      width: 150px;
      height: 150px;
      float: left;
      margin: 0 20px 20px 0;
    }
    blockquote {
      font-family: @proxima-nova-regular-italic;
      font-size: 1.5em;
      line-height: 32px;
      color: #888;
      font-style: normal;
      margin: 0 0 20px;
      em {
        font-family: @proxima-nova-rgregular;
      }
    }
    cite {
      font-family: @proxima-nova-rgregular;
      color: #222;
      float: right;
      font-size: 19px;
      em {
        font-family: @proxima-nova-regular-italic;
        font-style: normal;
      }
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #aeaeae;

     &.dotted{
      border-top: 1px dotted #aeaeae;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  // Custom Rows
  .row-page-title {
    margin: 0;
    h1 {
      font-family: @proxima-nova-rgbold;
      font-weight: 400;
      display: inline-block;
      color: @header-color;
      margin-top: 1px;
      margin-bottom: 10px;
      letter-spacing: 0.075px;
      font-size: 1.5em;
      line-height: 28px;
      em {
        font-family: @proxima-nova-bold-italic;
        font-weight: 400;
        font-style: normal;
      }
    }
  }

  .row-hero-image {
    height: 400px;
    position: relative;
    overflow: hidden;
    img:not(.suite-logo) {
      width: 1200px;
      position: absolute;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
    }
    .suite-logo{
      max-height: 50px;
    }
    section {
      display: table;
      position: relative;
      padding-left: 40px;
      padding-right: 40px;
      background-color: rgba(241,241,241,0.85);
      height: 400px;
    }
    aside {
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
    }
    h2 {
      // font-size: 48px;
      font-size: 3em;
      color: #555;
      line-height: 52px;
      margin-top: 10px;
      margin-bottom: 20px;
      // em {
      //   font-family: @proxima-nova-bold-italic;
      //   font-style: normal;
      //   font-weight: 400;
      // }
    }
    p {
      font-size: 24px;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    .ssp-btn.ghost-btn {
      font-size: 24px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .row-testimonial {
    blockquote::before{
      // quotes: "“" "”";
      // content: open-quote "\00a0" close-quote;
      // font-size: 110px;
      content: url('/Portals/0/common-img/quote-marks.png');
      font-size: 77px;
      text-align: center;
      height: 70px;
      display: block;
      line-height: 1;
      color: @header-color;
      font-family: serif;
      // text-shadow: #808080 1px 1px 1px;
    }
    &.no-quotes{
      blockquote::before{
        display: none;
      }

    }
    &.mask{
      &-blue{
        blockquote::before{
          color: @color-success-blue;
        }
      }
      &-red{
        blockquote::before{
          color: @color-success-red;
        }
      }
      &-green{
        blockquote::before{
          color: @color-success-green;
        }
      }
      &-purple{
        blockquote::before{
          color: @color-success-purple;
        }
      }
    }
    blockquote {
      font-size: 1.5em;
      margin-bottom: 10px;
      padding-top: 0;
      line-height: 32px;
      border: 0;
      color: #999;
      font-family: @proxima-nova-regular-italic;
      font-style: normal;
      em{
        font-family: @proxima-nova-rgregular;
      }
    }
    cite {
      font-family: @proxima-nova-rgregular;
      color: @body-color;
      font-size: 19px;
      line-height: 19px;
      display: block;
      text-align: center;
      margin-bottom: 10px;
      em{
        font-family: @proxima-nova-regular-italic;
        font-style: normal;
      }
    }
  }

  .row-half-image{
    // min-height: 400px;
    p:last-of-type + a, ul:last-of-type + a {
      display: block;
      margin-top: -10px;
    }
    aside {
      margin-top: 10px;
      padding: 40px;
    }
    figure {
      position: relative;
      float: left;
      padding: 0;
      background-position: center;
      background-size: cover;
      height: 250px;
      display: table-cell;
    }
    figure::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    .ssp-btn{
      margin-top: 0;
    }
  }

  .row-webinar-gallery {
    h6{
      display: block !important;
    }
    p{
      font-size: 0.875em;
    }
    section {
      padding-bottom: 30px;
    }
    section.webinar-empty {
      padding-bottom: 0;
    }
    section img {
      display: inline-block;
    }
    .object-fit {
      height: 150px;
    }
    // @media screen and (max-width: 767px) {
    //   section.col-sm-4 {
    //     width: ~ "calc(100% - 80px)";
    //     img {
    //       width: 90%;
    //     }
    //   }
    // }
  }

  .row-video-player {
    // margin-top: 30px;
    position: relative;
    padding-bottom: 80px;
    .video-container {
      margin-bottom: 20px;
      // img:hover {
      //   opacity: 0.5;
      //   transition: 0.5s;
      // }
    }
    .ssp-btn {
      // position: absolute;
      // right: 15px;
      // bottom: 0;
    }
  }
  .ssp-video-thumb:hover {
    cursor: pointer;
    -moz-transition: box-shadow 0.4s ease-out;
    -o-transition: box-shadow 0.4s ease-out;
    -webkit-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .youtube-video iframe {
    width: 100%;
  }

  .row-feature-dotted{
    ul{
      padding-left: 0;
      list-style-type: none;
    }
    li{
      clear: both;
      margin: 0;
      padding-top: 20px;
      .media-body {
        padding-left: 15px;
        // a{
        //   display: block;
        //   padding-bottom: 40px;
        //   border-bottom: 1px dotted #444;
        // }
        // a.regular{
        //   display: block;
        //   padding-bottom: 10px;
        //   border-bottom: none;
        // }
        a{
          display: inline;
        }
        p.divide-bottom{
          display: block;
          padding-bottom: 40px;
          border-bottom: 1px dotted #444;
        }
      }
      img{
        max-height: 120px;
        margin: 0 auto;
      }
    }

    li:last-of-type{
      .media-body a{
        border-bottom: none;
      }
    }
  }

  .row-webinar-videos {
    aside {
      padding: 20px 40px;
      margin: 10px 0 30px;
    }
    .object-fit {
      height: 200px;
      border: 1px solid black;
      border-bottom: 0;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .video-title {
      display: block;
      background-color: rgba(0,0,0,.5);
      color: #fff;
      padding: 10px;
      border: 1px solid black;
      border-top: 0;
      margin-bottom: 20px;
    }
  }

  .row-webinar-related {
    aside {
      padding: 20px 40px;
    }
  }

  .row-related-links {
    img {
      width: 100%;
    }
    h3 {
      margin-bottom: 20px;
    }
    section {
      margin-bottom: 30px;
      aside {
        h4 {
          margin-top: 0;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        border-bottom: 1px solid #aeaeae;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    li:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    a, li a, p a {
      font-family: @proxima-nova-rgbold;
      font-weight: 400;
      em {
        font-family: @proxima-nova-bold-italic;
        font-weight: 400;
        font-style: normal;
      }
    }
  }

  .row-table-equal-height, .row-table-equal-height-bottom, .row-table-equal-height-bottom-sm, .row-table-equal-height-button, .row-table-equal-height-md, .row-table-equal-height-md-one-third, .row-table-equal-height-middle, .row-table-equal-height-top, .row-table-equal-height-top-middles {
    [class^=col] {
      margin: 0 auto;
      height: 100%;
    }
    &.gray-columns{
     border-spacing: 20px;

      [class^=col]{
       .background-gray{

       }
      }
    }
    .product-features {
      color: @bt-blue;
      line-height: 28px;
    }
    h6 {
      display: inline-block;
      font-size: 1em;
    }
    svg {
      position: relative;
      bottom: 1px;
      margin-right: 5px;
    }
    figure {
      height: 250px;
      display: table-cell;
      vertical-align: middle;
    }
    .img-responsive {
      display: inline-block;
    }
  }

  .row-table-equal-height-button {
    [class^=col] {
      height: 100%;
        padding-bottom: 78px;
        position: relative;
    }
    .img-responsive {
      margin-bottom: 10px;
    }
    .ssp-btn {
      margin: 0 auto;
      bottom: 0;
      position: absolute;
    }
  }
  .equal-height-bottom-item {
    min-height: 45px;
  }

  .row-equal-sections{
    [class^=col]{
      &.background-mind-yeti{
         &-blue{
           a:hover{
            text-decoration: none;
          }
          background-color: #4683d4;
          padding: 20px;
          p{
            color: white;
          }
        }
         &-green{
           a:hover{
              text-decoration: none;
            }
            background-color: #7ecb7b;
             padding: 20px;
            p{
              color: white;
            }
          }
          &-purple{
            a:hover{
              text-decoration: none;
            }
            background-color: #bb84f9;
             padding: 20px;
            p{
              color: white;
            }
          }
      }
    }
  }

  .row-student-assemessment{
    text-align: center;
    img{
      margin: 25px auto;
    }
    [class^=col]{
      float: none;
    }
  }

  .row-help-and-support {
    section {
      margin: 30px 0 25px;
      ul {
        margin-top: 20px;
        list-style-type: none;
        padding: 0;
        li {
          padding: 20px 0;
          border-top: 1px solid #aeaeae;
          margin: 0;
        }
        li:last-of-type {
          border-bottom: 1px solid #aeaeae;
        }
      }
    }
    &.mask-red {
      figure {
        background-image: url('http://smiles4keeps.com/wp-content/uploads/2015/08/Smiles4Keeps_Kid-Cutout.png');
      }
    }
    &.mask-blue {
      figure {
        background-image: url('https://readingresultspdx.org/wp-content/uploads/2016/07/smiling-girl-cutout.png');
      }
    }
    &.mask-green {
      figure {
        background-image: url('http://www.graceplacenaples.org/wp-content/uploads/2015/08/bus-girl1.png');
      }
    }
    &.mask-purple {
      figure {
        background-image: url('http://www.waterburyymca.org/files/cache/52861cd0d381c06345eb722bb0c47e37_f67.png');
      }
    }
  }
  video.video-success {
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 100%;
  }
  video.video-success {
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 100%;
  }
  // End Success Stories

  // Success Stories
  .row-success-banner, .row-success-feature {
    figure {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .row-success-banner {
    width: ~ 'calc(100% + 30px)';
    h3 {
      font-family: @proxima-nova-xbold;
      font-size: 70px;
      line-height: 65px;
      margin-bottom: 20px;
    }
    &.mask-red {
      figure {
        background-image: url('http://smiles4keeps.com/wp-content/uploads/2016/02/Slider-girl.png');
      }
    }
    &.mask-blue {
      figure {
        background-image: url('https://placeit.net/uploads/stage/stage_image/2477/default_a3895.png');
      }
    }
    &.mask-green {
      figure {
        background-image: url('https://placeit.net/uploads/stage/stage_image/2390/default_3476.png');
      }
    }
    &.mask-purple {
      figure {
        background-image: url('https://www.westlakepediatricdentist.com/wp-content/themes/custom5/images/little-kid.png');
      }
    }
  }

  .row-success-feature {
    h3 {
      font-size: 46px;
      line-height: 46px;
      margin-bottom: 20px;
    }
    a {
      color: @body-color;
      i {
        margin-top: 10px;
        color: @bt-blue;
      }
    }
    &.mask-red {
      figure {
        background-image: url('http://smiles4keeps.com/wp-content/uploads/2015/08/Smiles4Keeps_Kid-Cutout.png');
      }
    }
    &.mask-blue {
      figure {
        background-image: url('https://readingresultspdx.org/wp-content/uploads/2016/07/smiling-girl-cutout.png');
      }
    }
    &.mask-green {
      figure {
        background-image: url('http://www.graceplacenaples.org/wp-content/uploads/2015/08/bus-girl1.png');
      }
    }
    &.mask-purple {
      figure {
        background-image: url('http://www.waterburyymca.org/files/cache/52861cd0d381c06345eb722bb0c47e37_f67.png');
      }
    }
  }
  video.video-success {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  // End Success Stories

  // Funding
  .row-funding-circles {
    article {
      position: relative;
      margin-bottom: 30px;
    }
    .object-fit {
      height: 300px;
      img {
        height: 100%;
        width: auto;
      }
    }
    .figure-div {
      position: relative;
    }
    figure {
      position: absolute;
      bottom: -30px;
      margin-left: -75px;
      left: 50%;
      a:hover {
        color: #fff;
      }
    }
    h4 {
      padding: 10px;
      width: 150px;
      height: 150px;
      background-color: @bt-blue;
      border-radius: 100px;
      opacity: 0.8;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      font-size: 22px;
    }
    section {
      padding: 40px 20px;
      max-width: 100%;
    }
    p, ul {
      font-size: 19px;
      color: @header-color;
    }
    ul {
      list-style-type: square;
      padding-left: 20px;
    }
    cite {
      display: block;
      margin-top: 30px;
      font-size: 19px;
      font-style: normal;
      line-height: 19px;
    }
  }

  .row-table-two-columns-equal-height {
    section {
      padding: 40px;
    }
    ul {
      padding-left: 20px;
    }
    ul.list-spaced {
      padding-left: 0;
      list-style-type: none;
      li {
        margin-bottom: 15px;
      }
    }
    section:first-of-type {
      background-color: #f1f1f1;
      h3 {
        margin-top: 25px;
      }
      h4 {
        margin-top: 20px;
      }
    }
    .single-indent {
      padding-left: 40px;
    }
    section:last-of-type {
      background-color: #e6e5e9;
      h4 {
        margin-bottom: 20px;
      }
      .section-title {
        padding-bottom: 5px;
        border-bottom: 1px solid #aeaeae;
        margin-bottom: 15px;
        display: block;
        font-size: 1em;
      }
    }
    .subsection {
      margin-top: 35px;
    }
  }
  // End Funding
  // End Custom Rows

  /* Bootstrap */
  /* Carousel */
  .carousel {
    height: 340px;
    ol, p, ul {
      li {
        margin-bottom: auto;
      }
    }
  }
  .carousel-indicators {
    margin-bottom: auto;
    z-index: 1;
    .active {
      position: relative;
      top: 1px;
    }
    li, li.active {
      height: 18px;
      width: 18px;
      margin: 5% 5% 0;
    }
  }
  .carousel-inner {
    .item {
      width: 100%;
    }
    h3, h4, h5, h6 {
      font-family: @proxima-nova-rgregular;
      em {
        font-family: @proxima-nova-regular-italic;
        font-style: normal;
      }
    }
    h2 {
      font-size: 120px;
      line-height: 1;
      margin: 0;
      span{
        font-family: @proxima-nova-rgbold;
        font-weight: 400;
      }
    }
    h2.small {
      font-size: 80px;
      line-height: 80px;
      margin: 0;
    }
    h3.large {
      font-size: 48px;
      line-height: 48px;
    }
    h3 {
      font-size: 34px;
      line-height: 34px;
    }
    h4 {
      font-size: 34px;
      line-height: 34px;
    }
    h5 {
      font-size: 26.5px;
      line-height: 26.5px;
    }
    h6 {
      font-size: 24px;
      line-height: 24px;
    }
    strong {
      font-family: @proxima-nova-xbold;
    }
  }
  .carousel-caption-wrapper {
    display: table;
    height: 275px;
    margin: 0 auto;
  }
  .carousel-caption {
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 85px;
    display: table-cell;
    vertical-align: middle;
    .caption-close::after, .caption-open::before {
      quotes: "“" "”";
      font-size: 110px;
      line-height: 1;
      color: @header-color;
      font-family: serif;
      text-shadow: #808080 1px 1px 1px;
    }
    .caption-open::before {
      content: open-quote;
      float: left;
      padding-right: 10px;
      height: 50px;
    }
    .caption-close::after {
      content: close-quote;
      float: right;
      position: relative;
      width: 30px;
      padding-left: 50px;
      height: 50px;
      right: 50px;
    }
    a {
      color: @header-color;
      display: block;
      margin-top: 30px;
      span {
        text-decoration: none;
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
  .carousel-control {
    background-image: none;
    opacity: 1;
    i {
      transition: 200ms;
      border-width: 1px;
      border-style: solid;
      border-radius: 7px;
    }
  }
  .carousel-control.left {
    text-align: left;
    [class^=glyphicon] {
      left: 15px;
    }
  }
  .carousel-control.right {
    text-align: right;
    [class^=glyphicon] {
      right: 15px;
    }
  }

  .mask {
    &-red {
      .carousel-control i {
        color: @color-success-red;
        border-color: @color-success-red;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-red;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-red;
      }
      .carousel-indicators li {
        border-color: @color-success-red;
      }
      .carousel-indicators li.active {
        background-color: @color-success-red;
      }
      &.row-success-banner {
        background-color: @color-success-red;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-red;
        }
      }
    }
    &-blue {
      .carousel-control i {
        color: @color-success-blue;
        border-color: @color-success-blue;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-blue;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-blue;
      }
      .carousel-indicators li {
        border-color: @color-success-blue;
      }
      .carousel-indicators li.active {
        background-color: @color-success-blue;
      }
      &.row-success-banner {
        background-color: @color-success-blue;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-blue;
        }
      }
    }
    &-green {
      .carousel-control i {
        color: @color-success-green;
        border-color: @color-success-green;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-green;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-green;
      }
      .carousel-indicators li {
        border-color: @color-success-green;
      }
      .carousel-indicators li.active {
        background-color: @color-success-green;
      }
      &.row-success-banner {
        background-color: @color-success-green;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-green;
        }
      }
    }
    &-purple {
      .carousel-control i {
        color: @color-success-purple;
        border-color: @color-success-purple;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-purple;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-purple;
      }
      .carousel-indicators li {
        border-color: @color-success-purple;
      }
      .carousel-indicators li.active {
        background-color: @color-success-purple;
      }
      &.row-success-banner {
        background-color: @color-success-purple;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-purple;
        }
      }
    }
  }
  /* End Carousel */

  /* Modal */
  .modal-body {
    .limelight-player {
      width: 100% !important;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
  /* End Modal */
  /* End Bootstrap */

  /* Misc */
  .relative {
    position: relative;
  }

  .md-left-sm-center, .lg-left-md-center{
    text-align: left;
  }

  .md-center-sm-left, .lg-center-md-left{
    text-align: center;
  }

  .md-right-sm-center{
    text-align: right;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-center{
    img{
      display: inline-block;
    }
  }

  .zero-margin {
    margin: 0;
  }

  h2.section-title{
    margin-bottom: 25px;
  }

  h3.section-title{
    margin-bottom: 20px;
  }

  h4, h5{
    &.section-title{
      margin-bottom: 15px;
    }
  }
  h6.section-title{
    margin-bottom: 12.5px;
  }

  .padding {
    &-standard {
      padding: 40px;
      &-top {
        padding: 40px 40px 0;
      }
      &-bottom {
        padding: 0 40px 40px;
      }
      &-narrow {
        padding: 0 40px;
      }
      &-no-background {
        padding: 40px 15px;
      }
    }
    &-tall {
      padding: 40px 0;
      &-no-background {
        padding: 40px 15px;
        &-top {
          padding: 40px 15px 0;
        }
        &-bottom {
          padding: 0 15px 40px;
        }
      }
      &-top {
        padding-top: 40px;
      }
      &-bottom {
        padding-bottom: 40px;
      }
    }
    &-no-background {
      padding-left: 15px;
      padding-right: 15px;
      &-top {
        padding: 15px 15px 0;
      }
      &-bottom {
        padding: 0 15px 15px;
      }
    }
  }
  .less-padding {
    padding: 13px 25px;
  }

  .toggle-check {
    visibility: hidden;
    position: absolute;
    left: -999999px;
  }
  .ssp-btn.ghost-btn-filter {
    border: 2px solid #41779c;
    color: #41779c !important;
    background-color: transparent !important;
    padding: 11px 60px;
    width: 100%;
  }
  .ssp-btn.ghost-btn-filter:hover {
    background-color: rgba(65, 119, 156, 0.2) !important;
  }
  .toggle-check:checked + .ssp-btn.ghost-btn-filter {
    background-color: #41779c !important;
    color: #ffffff !important;
  }
  .toggle-check:checked + .ssp-btn.ghost-btn-filter:hover {
    background-color: rgba(65, 119, 156, 0.8) !important;
  }

  .img-badge{
    width: 125px;
    border-radius: 75px;
    margin: 0 auto;
  }

  /* Icon Opacity */
  img[src*=icon_]{
    opacity: .5;
  }
  .background-gray{
    img[src*=icon_]{
      opacity: .9;
    }
  }

  .icon-feature{
    max-width: 250px;
  }

  .pdf-img-download {
    margin-bottom: 10px;
  }

  .object-fit {
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      margin: auto;
      min-width: 100%;
      top: -1000px;
      bottom: -1000px;
      left: -1000px;
      right: -1000px;
    }
  }

  .thumbnail-container {
    min-height: 185px;
    display: table;
    width: 100%;
    img {
      display: table-cell !important;
      vertical-align: middle;
      margin: 0 auto;
      max-width: 100%;
      max-height: 185px;
      width: auto;
    }
  }

  .table-striped-dark {
    table {
      width: auto;
      td, th, tr {
        border: none;
      }
      td {
        padding: 7px 27px;
        vertical-align: middle;
      }
      & tr:nth-child(odd) {
        background-color: #e1dfe4;
      }
      & tr:nth-child(1) {
        background: none;
      }
    }
  }

  .table-collapsible{
    table{
      width: 100%;
      margin-bottom: 30px;
    }
    tr{
      border-bottom: 3px solid @ms-blue;
    }
    th{
      background-color: @ms-blue;
      color: #fff;
      min-width: 5em;
      padding: 1em;
      font-family: @proxima-nova-rgbold;
      font-size: 19px;
      text-align: center;
    }
    th:nth-of-type(1){
      text-align: left;
    }
    td{
      padding: 10px;
      padding-bottom: 12px;
      text-align: center;
      display: table-cell;
      &:first-child{
        padding-left: 10px;
      }
      &:last-child{
        padding-right: 0;
      }
      &:before{
        display: none;
      }
      &:first-of-type{
        text-align: left;
        padding-left: 10px;
      }
      &:nth-of-type(2){
        width: 37.5%;
        text-align: left;
      }
    }
  }

  .p-extra-bottom {
    p {
      margin-bottom: 30px;
    }
  }

  .list-unstyled {
    list-style-type: none;
  }
  .ul-extra-bottom {
    ul {
      margin-bottom: 30px;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .header-underline, .text-underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #aeaeae;
    margin-bottom: 20px;
  }

  .border-top {
    border-top: 1px solid #aeaeae;
  }
  .border-top-thick{
    border-top: 8px solid #464646;
  }
  .border-bottom {
    border-bottom: 1px solid #aeaeae;
  }
  .border-teal{
    border: 8px solid @ms-teal;
  }

  .upper-line-title, .upper-line-title-extra {
    border-top: 1px solid #aeaeae;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: transparent;
    font-family: @proxima-nova-rgbold;
    font-weight: 400;
    color: @header-color;
    em {
      font-family: @proxima-nova-bold-italic;
      font-weight: 400;
      font-style: normal;
    }
  }
  .upper-line-title-extra {
    padding-top: 20px;
    margin-top: 20px;
  }

  .glyphicon-triangle-left, .glyphicon-triangle-right {
    font-size: 34px;
    position: absolute;
    top: 46%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }
  .glyphicon-triangle-left {
    padding: 6px 5px 6px 1px;
  }
  .glyphicon-triangle-right {
    padding: 6px 1px 6px 5px;
  }

  .link-list, .link-list-border-bottom{
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: 30px;
    }
  }
  .link-list-border-bottom {
    ul {
      margin-top: 0;
      display: inline-block;
    }
    li {
      display: inline-block;
      border-bottom: 1px solid #aeaeae;
      padding-bottom: 30px;
      margin-top: 30px;
    }
    li:last-of-type {
      border-bottom: none;
    }
  }
  .link-list-spaced {
    ul {
      padding-left: 0;
      list-style-type: none;
      margin-top: 10px;
    }
    li {
      margin-bottom: 30px;
    }
  }

  .list-columns {
    hr {
      margin: 20px 40px 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        margin-bottom: 30px;
        div:nth-of-type(1) {
          left: 20px;
          padding-right: 35px;
        }
        div:nth-of-type(1)::before {
          content: ' ';
          line-height: 0;
          font-size: 0;
          border: 3.5px solid #222;
          position: relative;
          right: 12px;
          margin-left: -8px;
          bottom: 7px;
        }
      }
      li:last-of-type {
        border-bottom: 20px;
      }
      li::after {
        display: block;
        height: 40px;
        border-bottom: 1px solid #aeaeae;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 40px;
      }
      li:last-of-type::after {
        border-bottom-color: transparent;
        height: 0;
      }
    }
    .small {
      font-size: 12px;
    }
  }

  ol.no-indent, ul.no-indent {
    padding-left: 20px;
  }

  .color-blue{
    color: @bt-blue;
  }
  .color-medium-gray{
    color: @medium-gray;
  }

  .background {
    &-sel, &-sel-home, &-ms{
      background-image: url('/Portals/0/common-img/SS-Section-G-IMG.jpg');
      background-position: center;
      background-size: cover;
      transform: rotateY(0deg);
      border: 1px dotted #aeaeae;
      background-repeat: no-repeat;
      section{
        background-color: rgba(241, 241, 241, 0);
        transform: rotateY(0deg);
      }
    }
    &-ms{
      background-image: url('/Portals/0/common-img/MS-Home-Page-Hero.jpg');
    }
    &-sel-home{
      background-image: url('/Portals/0/common-img/SS-Home-Section-G-Girl-Ponytail-Smiling-Desk.jpg');
    }
    &-light-gray {
      background-color: #f1f1f1;
    }
    &-gray {
      background-color: #e6e5e9;
    }
    &-mid-gray {
      background-color: #d8d7da;
    }
    &-white{
      background-color: #fff;
    }
    &-blue {
      background-color: @bt-blue;
      a, h4, i {
        display: inline;
        color: #fff;
      }
      h4 {
        margin-right: 10px;
      }
      p {
        color: #fff;
      }
      a {
        text-decoration: underline;
        text-decoration-color: #fff;
      }
      a:hover {
        text-decoration-color: #fff;
      }
    }
    &-scarlet {
      background-color: @color-success-red;
    }
    &-kelly-green {
      background-color: @color-success-green;
    }
    &-purple {
      background-color: rgba(108,48,120, 1);
    }
  }

  .upper-rule {
    border-top: 1px solid #1a191a;
  }
  .color-row {
    &-blue, &-green, &-red {
      h2 {
        font-size: 40px;
        color: #fff;
        padding-bottom: 30px;
      }
      p {
        color: #fff;
        font-size: 1em;
      }
    }
    &-green {
      background-color: @bpu-green;
    }
    &-red {
      background-color: #ce1343;
    }
    &-blue {
      background-color: @bt-blue;
    }
  }
  .teal-circle {
    display: inline-block;
    span{
      background: #26bbc3;
      height: 160px;
      width: 160px;
      display: table-cell;
      border-radius: 50%;
      text-align: center;
      color: white;
      vertical-align: middle;
    }
  }
  .orange-circle{
    background: #f84139;
    position: absolute;
      height: 150px;
      width: 150px;
      padding: 25px;
      display: inline-block;
      color: white;
      border-radius: 50%;
       text-decoration: none;
      transform: translate(-75%,5%);

      p{
        transform: rotate(-10deg) ;
        display: table-cell;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
       text-decoration: none;
        vertical-align: middle;
        line-height: 1;
      }
  }
  .yellow-block{
    background: #ffd621;
    border-radius: 20px;
  }
  .row-third-right {
    padding-right: 0;
  }
  .row-third-left {
    padding-left: 0;
  }
  .row-table-equal-height-middle, .row-table-equal-height-top-middles {
    width: 100%;
  }

  .social-links {
    float: right;
    // display: inline;
    display: none;
    list-style-type: none;
    padding: 0;
    margin-top: 3px;
    h5 {
      float: right;
      margin-bottom: 0;
    }
    li {
      cursor: pointer;
      display: inline;
      font-size: 26px;
      padding: 5px;
      transition: opacity 200ms;
    }
    li:hover {
      opacity: 0.75;
    }
    .fa-facebook-square {
      color: #3c5b9a;
    }
    .fa-twitter-square {
      color: #55acee;
    }
    .fa-youtube-square {
      color: #de2c28;
    }
  }

  /* Webinar page */
  .filter-results {
    display: none;
  }
  .live-webinar {
      border: 1px solid grey;
      padding: 25px;
      margin-bottom: 40px;
  }

  .on-demand-webinar{
    text-align: center;
    background: #f2eee6;
    margin-bottom: 60px;
    padding-bottom:20px;

    img{
      margin-bottom: 20px;
    }

    p{
      font-size: 2em;
      font-weight: 100;
    }
  }
  .sidebar{
    padding: 20px;

    ul{
      li{
        list-style-type: none;
        margin-left: -40px;
        padding: 20px 0;
      }
    }
  }
  input[type=checkbox], input[type=radio] {
      margin: 20px 10px 0 0;
  }

  /* new SEL page */

  .color-circles{
    text-align: center;
    span {
      display: inline-block;
      margin: 0 auto 20px;
      padding: 0 8px;

      p{
        height: 200px;
        width: 200px;
        border-style: solid;
        border-width: 18px;
        border-radius: 50%;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: uppercase;
        color: #888;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
      .border-color{
        &-green{
          border-color: #2ac49a;
        }
        &-magenta{
          border-color: #cb15cb;
        }
        &-blue{
          border-color: #004eff;
        }
        &-orange{
          border-color: #ff6c00;
        }
        &-yellow{
          border-color: #ffd200;
        }
        &-lime{
          border-color: #78c811;
        }
        &-purple{
          border-color: #a800ff;
        }
        &-skyblue{
          border-color: #009cff;
        }
      }
    }
  }
  /* FAQ PAGE */
  #close-all{
    display: none;
  }
  .panel-group .panel-heading a{
    color: #fff;
    text-decoration: none;
    padding: 0;
    transition: all .4s;
  }

  /* End Misc */
  @media screen and (min-width: 992px) {
    .row-table-equal-height-bottom, .row-table-equal-height-md, .row-table-equal-height-md-one-third, .row-table-equal-height-middle, .row-table-equal-height-top-middles {
      display: table;
      table-layout: fixed;
      [class^=col] {
        float: none;
        display: table-cell;
        vertical-align: top;
        &.align-top {
          vertical-align: top;
        }
      }
      &.gray-columns:before, &.gray-columns:after{
        display: none;
      }
      &.gray-columns{
        width: auto;
        [class^=col] {
          background: #e6e5e9;
        }
      }
    }
    .three-two-one section:nth-of-type(3n + 4) {
      clear: left;
    }

    .row-table-equal-height-md-one-third {
      width: ~ 'calc(33% + 45px)';
    }

    .row-table-equal-height-top-middles {
      [class^=col] {
        vertical-align: top;
        img{
          margin: 0 auto;
          display: block;
        }
      }
      [class^=col]:nth-of-type(1) {
        vertical-align: middle;
      }
    }
    .row-table-equal-height-middle {
      width: ~ 'calc(100% + 30px)';
      [class^=col] {
        vertical-align: middle;
      }
    }
    .row-table-equal-height-bottom {
      // width: 100%;
      [class^=col] {
        vertical-align: bottom;
      }
      [class^=col]:nth-of-type(1) {
        vertical-align: middle;
      }
    }

    .row-table-ie-md {
      margin: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    .row-related-links, .row-table-equal-height-bottom, .row-table-equal-height-top-middles, .row-table-equal-height-md, .row-table-equal-height-md-one-third {
      [class^=col-md] {
        float: none;
        width: 450px;
        max-width: 100%;
        margin: 25px auto;
        img {
          display: inline-block;
        }
      }
      .teal-circle{
        margin-bottom: 20px;
      }
    }
    .three-two-one section:nth-of-type(2n + 3) {
      clear: left;
    }

    .carousel {
      height: 350px;
      h2 {
        font-size: ~ 'calc(120px * .8)';
        line-height: 1;
        margin: 0;
        text-align: center;
      }
      h2.small {
        font-size: ~ 'calc(80px * .8)';
        line-height: ~ 'calc(80px * .8)';
        margin: 0;
      }
      h3.large {
        font-size: ~ 'calc(48px * .8)';
        line-height: ~ 'calc(48px * .8)';
      }
      h3 {
        font-size: ~ 'calc(34px * .8)';
        line-height: ~ 'calc(34px * .8)';
      }
      h4 {
        font-size: ~ 'calc(34px * .8)';
        line-height: ~ 'calc(34px * .8)';
      }
      h5 {
        font-size: ~ 'calc(26.5px * .8)';
        line-height: ~ 'calc(26.5px * .8)';
      }
      h6 {
        font-size: ~ 'calc(24px * .8)';
        line-height: ~ 'calc(24px * .8)';
      }
    }
    .carousel-caption-wrapper {
      min-height: 320px;
    }

    .lg-left-md-center{
      text-align: center;
    }

    .lg-center-md-left{
      text-align: left;
    }
  }
  @media screen and (min-width: 768px) {
    .row-table-two-columns-equal-height {
      display: table;
      table-layout: fixed;
      section {
        float: none;
        display: table-cell;
        vertical-align: top;
      }
      section:nth-of-type(1) {
        padding-left: 60px;
      }
      section:nth-of-type(2) {
        padding-right: 60px;
      }
    }

    .row-table-equal-height, .row-table-equal-height-button, .row-table-equal-height-bottom-sm, .row-table-equal-height-top, .row-table-ie {
      display: table;
      table-layout: fixed;
      [class^=col] {
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
    .row-table-equal-height-bottom-sm{
      [class^=col] {
        vertical-align: bottom;
      }
      [class^=col]:nth-of-type(1) {
        vertical-align: middle;
      }
    }
    .row-table-equal-height{
      figure[class^=col]{
        background-repeat: no-repeat;
      }
    }

    .row-table-ie {
      margin: 0;
      width: 100%;
    }

    .row-table-equal-height-top {
      [class^=col] {
        vertical-align: top;
      }
    }
    .row-table-equal-height-button {
      [class^=col] {
        vertical-align: top;
      }
    }

    .row-equal-sections{
        display: table;
        table-layout: fixed;
        border-spacing:20px;
        // width: ~ 'calc(100% + 70px)';
        position: relative;
        // right: 20px;
        overflow: hidden;
        border-collapse: separate;
        right: 5px;
        width: ~ 'calc(100% + 40px)';
        &:before, &:after{
          display: none;
        }
      [class^=col]{
        float: none;
        display: table-cell;
        padding: 30px;
        margin: 15px auto;
        vertical-align: top;
        article{
          width: auto;
          a.bottom-align{
            position:absolute;
            bottom: 2%;
          }
        }
      }
      img{
        margin: 20px 0;
      }
    }
    .blog-full-width {
      width: ~ 'calc(100% + 30px)';
    }
  }
  @media screen and (max-width: 767px) {
    .row-success-banner {
      h3 {
        font-size: 50px;
        line-height: 50px;
      }
    }

    .row-hero-image {
      height: auto;
      min-height: 400px;
      section {
        height: auto;
        min-height: 400px;
      }
    }

    .row-classroom-kits, .row-table-equal-height, .row-table-equal-height-bottom, .row-table-equal-height-bottom-sm, .row-table-equal-height-button, .row-table-equal-height-top, .row-feature-image {
      [class^=col] {
        float: none;
        width: 450px;
        max-width: 100%;
        margin: 0 auto;
      }
      .teal-circle{
        margin-bottom: 20px;
      }
    }
    .row-table-equal-height{
      figure[class^=col]{
        display: block;
        margin: 25px auto;
        min-height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .ssp-btn{
        position: relative;
      }
    }
    .row-table-equal-height-bottom-sm {
      // width: 100%;
      [class^=col] {
        vertical-align: bottom;
      }
      [class^=col]:nth-of-type(1) {
        vertical-align: middle;
      }
    }
    .row-table-equal-height-button {
      [class^=col] {
        padding-bottom: 1px;
        margin: 0 auto 40px;
      }
      .object-fit {
        max-height: none;
        height: 175px;
        img {
          width: 410px;
        }
      }
      .ssp-btn{
        position: relative;
      }
    }
    .row-feature-image{
      article[class^=col]{
          margin: 25px auto;
      }
    }

    .row-half-image{
      min-height: auto;
      aside {
        padding: 15px 0;
      }
      figure[class^=col]{
        display: block;
        margin: 0 auto;
        height: 250px;
      }
    }

    .row-webinar-videos {
      aside {
        width: 450px;
        max-width: 100%;
        margin: 10px auto 30px;
        .object-fit {
          height: 175px;
        }
      }
    }

    .md-left-sm-center{
      text-align: center;
    }

    .md-center-sm-left{
      text-align: left;
    }

    .md-right-sm-center{
      text-align: center;
    }

    .row-equal-sections{
      margin-top: 40px;

      [class^=col]{
        width: 450px;
        right: auto;
        overflow: auto;
        margin: 0 auto 40px auto;
        padding: 20px;
        max-width: 100%;
        article{
          max-width: 450px;
          margin: 0 auto;
        }
        img{
          margin: 10px auto;
        }
      }
      [class^=col]:last-of-type{
        margin-bottom: 0;
      }
    }

    .row-feature-dotted{
      .media{
        max-width: 450px;
        margin: 0 auto;
      }
      .media-left{
        display: block;
      }
    }

    .row-student-assemessment{
      [class^=col]{
        margin: 25px auto;
        text-align: left;
        width: 450px;
        padding: 0;
        max-width: 100%;
      }
       img{
        width: 450px;
      }
    }

    .background-sel, .background-sel-home, .background-ms{
      // background-image: url(Portals/0/common-img/SS-Section-G-IMG.jpg);
      background-size: cover;
      background-position: center right;
      //background-position-x: 520px;
      transform: rotateY(180deg);
      section{
        background-color: rgba(241, 241, 241, 0.85);
        transform: rotateY(-180deg);
      }
    }

    .table-striped-dark {
      table {
        width: 100%;
      }
    }

    .table-collapsible{
      table{
        width: auto;
        min-width: 300px;
        margin: 0 auto 30px;
      }
      tr{
        border: 4px solid @ms-blue;
      }
      th{
        display: none;
      }
      td{
        padding:0;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        text-align: left;
        vertical-align: middle;
        font-size: 14px;
        &:nth-of-type(2){
          width: auto;
        }
        &:first-child{
          padding-top: 20px;
          padding-bottom: 6px;
        }
        &:before{
          content: attr(data-th)": ";
          font-family: @proxima-nova-rgbold;
          font-size: 16px;
          width: 65px;
          display: inline-block;
          color: @ms-blue;
          padding: 4px;
          margin-right: 10px;
        }
        &:last-child:before{
          padding-bottom: 20px;
        }
        &:first-of-type{
          &:before{
            content: '';
            background-color: transparent;
          }
        }
      }
    }

     .orange-circle{
      height: 75px;
      width: 75px;
      padding: 10px;
      transform: translate(-30%, -10%);
      p{
        font-size: 18px;
      }
    }

  }
  @media screen and (max-width: 575px) {
    .padding-standard, .padding-standard-bottom, .padding-standard-top, .padding-standard-narrow, .padding-standard-no-background, .padding-tall-no-background, .padding-tall-no-background-top, .padding-tall-no-background-bottom, .padding-mobile, .row-half-image [class^=col], .row-webinar-related {
      padding-left: 15px;
      padding-right: 15px;
    }
    .row-table-equal-height-bottom, .row-table-equal-height-bottom-sm {
      h6 {
        font-size: 1em;
      }
    }

    .row-webinar-related {
      aside {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .row-funding-circles {
      [class^=col] {
        width: 100%;
      }
    }

    .row-page-title h1 {
      display: block;
      float: left;
    }

    .social-links {
      clear: both;
      float: left;
    }

    .row-success-banner {
      h3 {
        font-size: 40px;
        line-height: 40px;
      }
    }
    .row.row-equal-sections {
        margin-left: 15px;
        margin-right: 15px;
    }
    .carousel {
      height: 400px;
      h2 {
        font-size: ~ 'calc(120px * .64)';
        line-height: 1;
        margin: 0;
      }
      h2.small {
        font-size: ~ 'calc(80px * .64)';
        line-height: ~ 'calc(80px * .64)';
        margin: 0;
      }
      h3.large {
        font-size: ~ 'calc(48px * .64)';
        line-height: ~ 'calc(48px * .64)';
      }
      h3 {
        font-size: ~ 'calc(34px * .64)';
        line-height: ~ 'calc(34px * .64)';
      }
      h4 {
        font-size: ~ 'calc(34px * .64)';
        line-height: ~ 'calc(34px * .64)';
      }
      h5 {
        font-size: ~ 'calc(26.5px * .64)';
        line-height: ~ 'calc(26.5px * .64)';
      }
      h6 {
        font-size: ~ 'calc(24px * .64)';
        line-height: ~ 'calc(24px * .64)';
      }
    }
    .carousel-caption-wrapper {
      min-height: 370px;
    }
    .carousel-caption {
      padding: 10px 70px;
    }
    .carousel-indicators {
      width: 65%;
    }
    .carousel-control.left {
      [class^=glyphicon] {
        left: 10px;
      }
    }
    .carousel-control.right {
      [class^=glyphicon] {
        right: 10px;
      }
    }

    .row-webinar-videos {
      h3 {
        padding-bottom: 15px;
      }
    }

    .orange-circle{

      transform: translate(0%, 0%);

    }
  }
}

/* EasyDNNnews module, Related Articles pattern */
.blogfeed-header {
  background-color: #e6e5e9;
  padding: 40px;
}
.blogfeed-header h2 {
  font-family: 'proxima_nova_rgbold', sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 0px;
}

@media screen and (min-width: 992px) {
   #dnn_TopOneThirdLeft {
    padding-right: 0;
    display: table-cell;
    width: 33.33333333%;
    vertical-align: middle;
  }
  #dnn_TopTwoThirdRight {
    padding-left: 0;
  }
  .blogfeed-header {
    display: table-cell;
    width: 33.333333333%;
    vertical-align: middle;
  }
}

.publish_date.text_left {
  display: none;
}
.eds_news_BlogOne .article h1.title a, .eds_news_BlogOne .article h3.title a {
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 16px;
  margin-top: 0;
  color: #0077c7;
}

.eds_news_BlogOne .article h3.title {
  text-transform: none;
  margin: 10px 0 5px;
}

.eds_template_List_Article_SS_related_blogposts {
  padding: 40px;
  background-color: #e6e5e9;
}
.eds_news_BlogOne.eds_subCollection_news .article_rss_wrapper {
  display: none;
}
.eds_news_BlogOne .article {
  padding-bottom: 10px;
}

@media screen and (max-width: 575px){
  .eds_template_List_Article_SS_related_blogposts {
    padding: 15px;
  }
}
/* end related articles */

/* front page carousel */
.rvdsfProductShowcaseContainer {
  position: relative;
}

a.rvdsfProductShowcasePagination.rvdPreviousAction, a.rvdsfProductShowcasePagination.rvdNextAction {
  width: 36px;
  height: 36px;
}

a.rvdsfProductShowcasePagination.rvdPreviousAction {
  background-image: url(/Portals/0/Home/img/product-back-bt.png);
}
a.rvdsfProductShowcasePagination.rvdNextAction {
  background-image: url(/Portals/0/Home/img/product-next-bt.png);
}

ul.rvdsfProductShowcaseRotator > li {
  width: 250px;
}

/* Footer */
#footer {
  background: @header-color;
  .row {
    margin-right: 0;
    margin-left: 0;
    h6, ul, p, a{
      color: #fff;
    }
    h6{
      font-size: 1em;
    }
    a{
      transition: all .1s ease-in;
      i{
        height: 35px;
        width: 35px;
        background: #fff;
        color: #444;
        border-radius: 50%;
        vertical-align: middle;
        line-height: 35px;
        margin-right: 5px;
        text-align: center;
        transition: all .1s ease-in;
      }
    }
    a:hover{
      color: #fff;
      text-decoration-color:#fff;

      i{
          background: darken(white, 40%);
          color: #fff;
      }
    }
    a:visited{
      color: #fff;
      text-decoration-color:#fff;
    }
  }
  .row-subfooter{
    ul{
      list-style: none;
      li{
        display: inline;
        &:after{
          content: '';
          margin: 0 20px 0 25px;
          border: 1px solid white;
        }
      }
      li:last-of-type{
        &:after{
           border: 0px solid;
        }
      }
    }
  }
}
@media screen and (max-width: 575px){
    #footer .row-subfooter li{
      display: block;
    }
}
