@proxima-nova-rgregular: 'proxima_nova_rgregular', sans-serif;
@proxima-nova-regular-italic: 'proxima_nova_regular_italic', sans-serif;
@proxima-nova-ltlight: 'proxima_nova_ltlight', sans-serif;
@proxima-nova-ltsemibold: 'proxima_nova_ltsemibold', sans-serif;
@proxima-nova-rgbold: 'proxima_nova_rgbold', sans-serif;
@proxima-nova-bold-italic: 'proxima_nova_bold_italic', sans-serif;
@proxima-nova-xbold: 'proxima_nova_xbold', sans-serif;
@proxima-nova-ltsemibold: 'proxima_nova_ltsemibold', sans-serif;
@proxima-nova-ltlight: 'proxima_nova_ltlight', sans-serif;
@proxima-nova-thin: 'proxima_nova_thin', sans-serif;
@header-color: #444;
@body-color: #222;
@medium-gray: #888;
@a-link-color: #0077c7;
@a-link-visited: #8a42a6;
@bt-blue: #41779c;
@bt-blue-hover: #4ba0c8;
@grade-2-yellow: #fcb715;
@grade-5-purple: #653279;
@bpu-green: #33a86a;
@cpu-red: #F84139;
@bt-alert-bg-color: #d44e05;
@bt-alert-border-color: #ab4501;
@bt-alert-hover-color: #b34304;
@color-success-red: rgba(206,20,67,1);
@color-success-blue: rgba(65,119,156, 1);
@color-success-green: rgba(51,168,106,1);
@color-success-purple: rgba(101,50,121, 1);

.ssp-main-container {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  color: @body-color;

  .color-body-copy {
    color: @body-color;
  }
  .color-header, .color-header:hover {
    color: @header-color;
    text-decoration-color: @header-color;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: @proxima-nova-rgbold;
    color: @header-color;
    margin: 10px 0 5px;
    em {
      font-family: @proxima-nova-bold-italic;
    }
    &.regular {
      font-family: @proxima-nova-rgregular;
      em {
        font-family: @proxima-nova-regular-italic;
      }
    }
  }

  h1 {
    // font-size: 24px;
    font-size: 1.25em;
    line-height: 28px;
  }

  // h2.hero {
  //   // font-size: 28px;
  //   font-size: 1.75em;
  // }

  h2.large {
    // font-size: 40px;
    font-size: 2.5em;
  }

  h2 {
    // font-size: 35px;
    font-size: 2.1875em;
  }

  h3 {
    // font-size: 28px;
    font-size: 1.75em;
  }

  h4 {
    // font-size: 24px;
    font-size: 1.5em;
  }

  h5 {
    // font-size: 21px;
    font-size: 1.3125em;
    margin-bottom: 8px;
  }

  h6 {
    // font-size: 18px;
    font-size: 1.125em;
    margin-bottom: 8px;
  }

  h3, h5 {
    text-transform: none;
  }

  p strong, strong {
    font-family: @proxima-nova-rgbold;
    font-weight: 400;
    em {
      font-family: @proxima-nova-bold-italic;
    }
    &.intro {
      font-size: 19px;
      line-height: 30px;
    }
    &.large{
      font-size: 24px;
      line-height: 35px;
    }
  }

  em {
    font-style: normal;
  }

  ol, p, ul {
    font-family: @proxima-nova-rgregular;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    color: @body-color;
    em {
      font-family: @proxima-nova-regular-italic;
    }
    li {
      margin-bottom: 5px;
    }
    &.intro {
      font-size: 1.185em;
      line-height: 30px;
      color: @header-color;
    }
    &.large{
      font-size: 24px;
      line-height: 35px;
    }
  }

  p {
    &.byline, &.caption, &.small {
      font-family: @proxima-nova-rgregular;
      font-size: 0.875em;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 15px;
      color: @body-color;
      em {
        font-family: @proxima-nova-regular-italic;
      }
    }
    &.byline, &.caption {
      font-family: @proxima-nova-rgbold;
      em {
        font-family: @proxima-nova-bold-italic;
      }
    }
    &.intro {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  span {
    font-family: @proxima-nova-rgregular;
    font-size: 1em;
    &.intro {
      font-size: 1.1875em;
      line-height: 30px;
      color: @header-color;
    }
    &.small {
      color: @body-color;
      font-size: 0.875em;
    }
    &.large{
      font-size: 3em;
    }
    &.jumbo{
      font-size: 5em;
    }
  }

  ul {
    list-style-type: square;
    ul {
      list-style-type: circle;
    }
    &.none {
      list-style: none;
      padding: 0;
    }
  }

  a {
    font-family: @proxima-nova-rgregular;
    cursor: pointer;
    color: @a-link-color;
    text-decoration-color: @a-link-color;
    text-decoration: none;
    &:hover {
      color: @a-link-color;
      text-decoration: underline;
    }
    &:visited {
      color: @a-link-visited;
      text-decoration-color: @a-link-visited;
    }
    &:active {
      color: @a-link-color;
    }
    &.copy {
      color: @a-link-color;
      &:visited {
        color: @a-link-visited;
      }
    }
    &.centered-icon {
      display: inline-block;
      text-align: center;
    }
  }

  .ssp-btn {
    display: inline-block;
    margin: 15px 0;
    padding: 13px 60px;
    width: auto;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0 solid transparent;
    border-radius: 0;
    color: #fff !important;
    font-family: @proxima-nova-rgbold;
    background: @bt-blue;
    em {
      font-family: @proxima-nova-bold-italic;
    }
    &:hover {
      background-color: @bt-blue-hover;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }

    // .ssp-btn (continued){
    &.alert-bt {
      background-color: @bt-alert-bg-color;
      border: 2px solid @bt-alert-border-color;
      padding: 11px 60px;
      font-family: @proxima-nova-rgbold;
      em {
        font-family: @proxima-nova-bold-italic;
      }
      &:hover {
        background-color: @bt-alert-hover-color;
        border: 2px solid@bt-alert-hover-color;
        color: #fff !important;
      }
      p {
        font-family: @proxima-nova-rgbold;
        font-size: 1em;
        em {
          font-family: @proxima-nova-bold-italic;
        }
      }
    }

    // .ssp-btn (continued){
    &.white-btn {
      background: #fff;
      color: #00c1bb !important;
      &:hover {
        color: darken(#00c1bb, 5%) !important;
      }
    }

    // .ssp-btn (continued){
    &.ghost-btn {
      border: 2px solid @bt-blue;
      color: @bt-blue !important;
      background: transparent;
      padding: 11px 60px;
      &:hover {
        background-color: @bt-blue;
        color: #fff !important;
      }
      p {
        font-family: @proxima-nova-rgbold;
        font-size: 1em;
        color: @bt-blue;
        margin: 0;
        text-align: center;
        em {
          font-family: @proxima-nova-bold-italic;
        }
      }
      &:hover p {
        color: #fff;
      }
      &-white{
        color: #fff !important;
        border-color: #fff;
        margin-top: 30px;
        display: inline-block;
        text-decoration: none;
      }
    }

    // .ssp-btn (continued){
    &.btn-width-100 {
      width: 100%;
    }
    // .ssp-btn (continued){
    &.ghost-btn-white {
      border: 1px solid #fff;
      color: #fff;
      transition: 200ms;
      display: inline-block;
      &:hover {
        background-color: #fff;
        text-decoration: none;
        color: @bt-blue !important;
      }
    }
  }

  .font-white {
    a, button, h1, h2, h3, h4, h5, h6, i, li, ol, ol.intro, p, p.intro, span, span.intro, strong, ul, ul.intro {
    // *{
      color: #fff;
    }
  }
  .font-green {
    color: @bpu-green;
    margin-bottom: 15px;
  }
  .font-red {
    color: #ce1343;
    margin-bottom: 15px;
  }
  .font-blue {
    color: @bt-blue;
    margin-bottom: 15px;
  }
  .font-orange{
    color:#f15722;
    margin-bottom: 15px;
  }

  .full-width {
    width: 100%;
    padding: 13px 25px;
  }

  .clearfix-block {
    clear: both;
    display: block;
  }

  .rule {
    border-bottom: 1px solid #aeaeae;
    padding: 10px 0 5px;
  }

  .field-title {
    font-family: @proxima-nova-rgbold;
    font-size: 0.875em;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 15px;
    color: @body-color;
    em {
      font-family: @proxima-nova-bold-italic;
    }
  }

  .quote {
    padding: 20px;
    img {
      width: 150px;
      height: 150px;
      float: left;
      margin: 0 20px 20px 0;
    }
    blockquote {
      font-family: @proxima-nova-rgregular;
      font-size: 1.5em;
      line-height: 32px;
      color: #888;
      font-style: italic;
      margin: 0 0 20px;
      em {
        font-family: @proxima-nova-regular-italic;
      }
    }
    cite {
      font-family: @proxima-nova-rgregular;
      color: #222;
      float: right;
      font-size: 1em;
      font-style: normal;
      em {
        font-family: @proxima-nova-regular-italic;
      }
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #aeaeae;

     &.dotted{
      border-top: 1px dotted #aeaeae;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  // Custom Rows
  .row-page-title {
    margin: 0;
    h1 {
      font-family: @proxima-nova-rgbold;
      display: inline-block;
      color: @header-color;
      margin-top: 1px;
      margin-bottom: 10px;
      letter-spacing: 0.075px;
      font-size: 1.5em;
      line-height: 28px;
      em {
        font-family: @proxima-nova-bold-italic;
      }
    }
  }

  .row-hero-image {
    height: 400px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
    }
    section {
      display: table;
      position: relative;
      padding-left: 40px;
      padding-right: 40px;
      background-color: rgba(241,241,241,0.85);
      height: 400px;
    }
    aside {
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
    }
    h2 {
      // font-size: 48px;
      font-size: 3em;
      line-height: 52px;
      margin-top: 10px;
      margin-bottom: 20px;
      em {
        font-family: @proxima-nova-bold-italic;
      }
    }
    p {
      font-size: 24px;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    .ssp-btn.ghost-btn {
      font-size: 24px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .row-testimonial {
    blockquote::before{
      quotes: "“" "”";
      content: open-quote "\00a0" close-quote;
      font-size: 110px;
      text-align: center;
      height: 70px;
      display: block;
      line-height: 1;
      color: @header-color;
      font-family: serif;
      text-shadow: #808080 1px 1px 1px;
      margin-top: 10px;
    }
    &.no-quotes{
      blockquote::before{
        display: none;  
      }

    }
    &.mask{
      &-blue{
        blockquote::before{
          color: @color-success-blue;
        }
      }
      &-red{
        blockquote::before{
          color: @color-success-red;
        }
      }
      &-green{
        blockquote::before{
          color: @color-success-green;
        }
      }
      &-purple{
        blockquote::before{
          color: @color-success-purple;
        }
      }
    }
    blockquote {
      font-size: 1.5em;
      margin-bottom: 10px;
      line-height: 32px;
      border: 0;
      font-style: normal;
      color: #999;
      font-family: @proxima-nova-regular-italic;
      em{
        font-family: @proxima-nova-rgregular;
      }
    }
    cite {
      font-family: @proxima-nova-rgregular;
      color: @body-color;
      font-size: 1em;
      font-style: normal;
      line-height: 19px;
      display: block;
      text-align: center;
      margin-bottom: 10px;
      em{
        font-family: @proxima-nova-regular-italic;
      }
    }
  }

  .row-half-image{
    // min-height: 400px;
    p:last-of-type + a, ul:last-of-type + a {
      display: block;
      margin-top: -10px;
    }
    aside {
      margin-top: 10px;
      padding: 40px;
    }
    figure {
      position: relative;
      float: left;
      padding: 0;
      background-position: center;
      background-size: cover;
      height: 250px;
      display: table-cell;
    }
    figure::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    .ssp-btn{
      margin-top: 0;
    }
  }

  .row-webinar-gallery {
    h6{
      display: block !important;
    }
    p{
      font-size: 0.875em;
    }
    section {
      padding-bottom: 30px;
    }
    section.webinar-empty {
      padding-bottom: 0;
    }
    section img {
      display: inline-block;
    }
    .object-fit {
      height: 150px;
    }
    // @media screen and (max-width: 767px) {
    //   section.col-sm-4 {
    //     width: ~ "calc(100% - 80px)";
    //     img {
    //       width: 90%;
    //     }
    //   }
    // }
  }

  .row-video-player {
    // margin-top: 30px;
    position: relative;
    padding-bottom: 80px;
    .video-container {
      margin-bottom: 20px;
      // img:hover {
      //   opacity: 0.5;
      //   transition: 0.5s;
      // }
    }
    .ssp-btn {
      // position: absolute;
      // right: 15px;
      // bottom: 0;
    }
  }
  .ssp-video-thumb:hover {
    cursor: pointer;
    -moz-transition: box-shadow 0.4s ease-out;
    -o-transition: box-shadow 0.4s ease-out;
    -webkit-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .row-feature-dotted{
    ul{
      padding-left: 0;
      list-style-type: none;
    }
    li{
      clear: both;
      margin: 0;
      padding-top: 20px;
      // padding-bottom: 20px;
      .media-body {
        padding-left: 15px;
        a{
          display: block;
          padding-bottom: 40px;
          border-bottom: 1px dotted #444;
          // margin-bottom: 20px;
        }
      }
      img{
        max-height: 120px;
        margin: 0 auto;
      }
    }

    li:last-of-type{
      .media-body a{
        border-bottom: none;
      }
    }
  }

  .row-videos-gray{
    section{
      width: ~ 'calc(50% - 20px)';
      background-color: #f1f1f1;
      padding: 30px 60px 40px;
      margin: 15px auto;
      article{
        width: auto;
      }
    }
    img{
      // height: 250px;
      margin: 20px 0;
    }
  }

  .row-webinar-videos {
    aside {
      padding: 20px 40px;
      margin: 10px 0 30px;
    }
    .object-fit {
      height: 200px;
      border: 1px solid black;
      border-bottom: 0;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .video-title {
      display: block;
      background-color: rgba(0,0,0,.5);
      color: #fff;
      padding: 10px;
      border: 1px solid black;
      border-top: 0;
      margin-bottom: 20px;
    }
  }

  .row-webinar-related {
    aside {
      padding: 20px 40px;
    }
  }

  .row-related-links {
    img {
      width: 100%;
    }
    h3 {
      margin-bottom: 20px;
    }
    section {
      margin-bottom: 30px;
      aside {
        h4 {
          margin-top: 0;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        border-bottom: 1px solid #aeaeae;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    li:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    a, li a, p a {
      font-family: @proxima-nova-rgbold;
      em {
        font-family: @proxima-nova-bold-italic;
      }
    }
  }

  .row-table-equal-height, .row-table-equal-height-bottom, .row-table-equal-height-button, .row-table-equal-height-md, .row-table-equal-height-md-one-third, .row-table-equal-height-middle, .row-table-equal-height-top, .row-table-equal-height-top-middles {
    [class^=col] {
      margin: 0 auto;
      height: 100%;
    }
    .product-features {
      color: @bt-blue;
      line-height: 28px;
    }
    h6 {
      display: inline-block;
      font-size: 1em;
    }
    svg {
      position: relative;
      bottom: 1px;
      margin-right: 5px;
    }
    figure {
      height: 250px;
      display: table-cell;
      vertical-align: middle;
    }
    .img-responsive {
      display: inline-block;
    }
  }

  .row-table-equal-height-button {
    [class^=col] {
      height: 100%;
      .button-bottom-container {
        margin-bottom: 65px;
        position: relative;
      }
    }
    .object-fit {
      height: 175px;
      margin: 15px 0;
      max-height: 100%;
      img {
        width: 100%;
      }
    }
    .img-responsive {
      margin-bottom: 10px;
    }
    .btn-width-100 {
      width: ~ 'calc(100% - 30px)';
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }
  .equal-height-bottom-item {
    min-height: 45px;
  }

  .row-student-assemessment{
    text-align: center;
    img{
      margin: 25px auto;
    }
    [class^=col]{
      float: none;
    }
  }

  .row-help-and-support {
    section {
      margin: 30px 0 25px;
      ul {
        margin-top: 20px;
        list-style-type: none;
        padding: 0;
        li {
          padding: 20px 0;
          border-top: 1px solid #aeaeae;
          margin: 0;
        }
        li:last-of-type {
          border-bottom: 1px solid #aeaeae;
        }
      }
    }
    &.mask-red {
      figure {
        background-image: url('http://smiles4keeps.com/wp-content/uploads/2015/08/Smiles4Keeps_Kid-Cutout.png');
      }
    }
    &.mask-blue {
      figure {
        background-image: url('https://readingresultspdx.org/wp-content/uploads/2016/07/smiling-girl-cutout.png');
      }
    }
    &.mask-green {
      figure {
        background-image: url('http://www.graceplacenaples.org/wp-content/uploads/2015/08/bus-girl1.png');
      }
    }
    &.mask-purple {
      figure {
        background-image: url('http://www.waterburyymca.org/files/cache/52861cd0d381c06345eb722bb0c47e37_f67.png');
      }
    }
  }
  video.video-success {
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 100%;
  }
  video.video-success {
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 100%;
  }
  // End Success Stories

  // Success Stories
  .row-success-banner, .row-success-feature {
    figure {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .row-success-banner {
    width: ~ 'calc(100% + 30px)';
    h3 {
      font-family: @proxima-nova-xbold;
      font-size: 70px;
      line-height: 65px;
      margin-bottom: 20px;
    }
    figure {
      filter: grayscale(100%);
    }
    &.mask-red {
      figure {
        background-image: url('http://smiles4keeps.com/wp-content/uploads/2016/02/Slider-girl.png');
      }
    }
    &.mask-blue {
      figure {
        background-image: url('https://placeit.net/uploads/stage/stage_image/2477/default_a3895.png');
      }
    }
    &.mask-green {
      figure {
        background-image: url('https://placeit.net/uploads/stage/stage_image/2390/default_3476.png');
      }
    }
    &.mask-purple {
      figure {
        background-image: url('https://www.westlakepediatricdentist.com/wp-content/themes/custom5/images/little-kid.png');
      }
    }
  }

  .row-success-feature {
    figure {
      filter: grayscale(100%);
    }
    h3 {
      font-size: 46px;
      line-height: 46px;
      margin-bottom: 20px;
    }
    a {
      color: @body-color;
      i {
        margin-top: 10px;
        color: @bt-blue;
      }
    }
    &.mask-red {
      figure {
        background-image: url('http://smiles4keeps.com/wp-content/uploads/2015/08/Smiles4Keeps_Kid-Cutout.png');
      }
    }
    &.mask-blue {
      figure {
        background-image: url('https://readingresultspdx.org/wp-content/uploads/2016/07/smiling-girl-cutout.png');
      }
    }
    &.mask-green {
      figure {
        background-image: url('http://www.graceplacenaples.org/wp-content/uploads/2015/08/bus-girl1.png');
      }
    }
    &.mask-purple {
      figure {
        background-image: url('http://www.waterburyymca.org/files/cache/52861cd0d381c06345eb722bb0c47e37_f67.png');
      }
    }
  }
  video.video-success {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  // End Success Stories

  // Funding
  .row-funding-circles {
    article {
      position: relative;
      margin-bottom: 30px;
    }
    .object-fit {
      height: 300px;
      img {
        height: 100%;
        width: auto;
      }
    }
    .figure-div {
      position: relative;
    }
    figure {
      position: absolute;
      bottom: -30px;
      margin-left: -75px;
      left: 50%;
      a:hover {
        color: #fff;
      }
    }
    h4 {
      padding: 10px;
      width: 150px;
      height: 150px;
      background-color: @bt-blue;
      border-radius: 100px;
      opacity: 0.8;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      font-size: 22px;
    }
    section {
      padding: 40px 20px;
      max-width: 100%;
    }
    p, ul {
      font-size: 19px;
      color: @header-color;
    }
    ul {
      list-style-type: square;
      padding-left: 20px;
    }
    cite {
      display: block;
      margin-top: 30px;
      font-size: 1em;
      font-style: normal;
      line-height: 19px;
    }
  }

  .row-table-two-columns-equal-height {
    section {
      padding: 40px;
    }
    p.regular {
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;
    }
    ul.list-spaced {
      padding-left: 0;
      list-style-type: none;
      li {
        margin-bottom: 15px;
      }
    }
    section:first-of-type {
      background-color: #f1f1f1;
      h3 {
        margin-top: 25px;
      }
      h4 {
        margin-top: 20px;
      }
    }
    .single-indent {
      padding-left: 40px;
    }
    section:last-of-type {
      background-color: #e6e5e9;
      h4 {
        margin-bottom: 20px;
      }
      .section-title {
        padding-bottom: 5px;
        border-bottom: 1px solid #aeaeae;
        margin-bottom: 15px;
        display: block;
        font-size: 1em;
      }
    }
    .subsection {
      margin-top: 35px;
    }
  }
  // End Funding
  // End Custom Rows

  /* Bootstrap */
  /* Carousel */
  .carousel {
    height: 340px;
    ol, p, ul {
      li {
        margin-bottom: auto;
      }
    }
  }
  .carousel-indicators {
    margin-bottom: auto;
    z-index: 1000;
    .active {
      position: relative;
      top: 1px;
    }
    li, li.active {
      height: 18px;
      width: 18px;
      margin: 5% 5% 0;
    }
  }
  .carousel-inner {
    .item {
      width: 100%;
    }
    h3, h4, h5, h6 {
      font-family: @proxima-nova-rgregular;
      em {
        font-family: @proxima-nova-regular-italic;
      }
    }
    h2 {
      font-size: 120px;
      line-height: 1;
      margin: 0;
      span{
        font-family: @proxima-nova-rgbold;
      }
    }
    h2.small {
      font-size: 80px;
      line-height: 80px;
      margin: 0;
    }
    h3.large {
      font-size: 48px;
      line-height: 48px;
    }
    h3 {
      font-size: 34px;
      line-height: 34px;
    }
    h4 {
      font-size: 34px;
      line-height: 34px;
    }
    h5 {
      font-size: 26.5px;
      line-height: 26.5px;
    }
    h6 {
      font-size: 24px;
      line-height: 24px;
    }
    strong {
      font-family: @proxima-nova-xbold;
    }
  }
  .carousel-caption-wrapper {
    display: table;
    height: 275px;
    margin: 0 auto;
  }
  .carousel-caption {
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 85px;
    display: table-cell;
    vertical-align: middle;
    .caption-close::after, .caption-open::before {
      quotes: "“" "”";
      font-size: 110px;
      line-height: 1;
      color: @header-color;
      font-family: serif;
      text-shadow: #808080 1px 1px 1px;
    }
    .caption-open::before {
      content: open-quote;
      float: left;
      padding-right: 10px;
      height: 50px;
    }
    .caption-close::after {
      content: close-quote;
      float: right;
      position: relative;
      width: 30px;
      padding-left: 50px;
      height: 50px;
      right: 50px;
    }
    a {
      color: @header-color;
      text-decoration: underline;
      display: block;
      margin-top: 30px;
      span {
        text-decoration: none;
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
  .carousel-control {
    background-image: none;
    opacity: 1;
    i {
      transition: 200ms;
      border-width: 1px;
      border-style: solid;
      border-radius: 7px;
    }
  }
  .carousel-control.left {
    text-align: left;
    [class^=glyphicon] {
      left: 15px;
    }
  }
  .carousel-control.right {
    text-align: right;
    [class^=glyphicon] {
      right: 15px;
    }
  }

  .mask {
    &-red {
      .carousel-control i {
        color: @color-success-red;
        border-color: @color-success-red;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-red;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-red;
      }
      .carousel-indicators li {
        border-color: @color-success-red;
      }
      .carousel-indicators li.active {
        background-color: @color-success-red;
      }
      &.row-success-banner {
        background-color: @color-success-red;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-red;
        }
      }
    }
    &-blue {
      .carousel-control i {
        color: @color-success-blue;
        border-color: @color-success-blue;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-blue;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-blue;
      }
      .carousel-indicators li {
        border-color: @color-success-blue;
      }
      .carousel-indicators li.active {
        background-color: @color-success-blue;
      }
      &.row-success-banner {
        background-color: @color-success-blue;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-blue;
        }
      }
    }
    &-green {
      .carousel-control i {
        color: @color-success-green;
        border-color: @color-success-green;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-green;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-green;
      }
      .carousel-indicators li {
        border-color: @color-success-green;
      }
      .carousel-indicators li.active {
        background-color: @color-success-green;
      }
      &.row-success-banner {
        background-color: @color-success-green;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-green;
        }
      }
    }
    &-purple {
      .carousel-control i {
        color: @color-success-purple;
        border-color: @color-success-purple;
      }
      .carousel-control:hover i {
        color: #fff;
        background-color: @color-success-purple;
      }
      .caption-close::after, .caption-open::before {
        color: @color-success-purple;
      }
      .carousel-indicators li {
        border-color: @color-success-purple;
      }
      .carousel-indicators li.active {
        background-color: @color-success-purple;
      }
      &.row-success-banner {
        background-color: @color-success-purple;
      }
      &.row-success-feature {
        h3 {
          color: @color-success-purple;
        }
      }
    }
  }
  /* End Carousel */

  /* Modal */
  .modal-body {
    .limelight-player {
      width: 100% !important;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
  /* End Modal */
  /* End Bootstrap */

  /* Misc */
  .relative {
    position: relative;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .zero-margin {
    margin: 0;
  }

  .padding {
    &-standard {
      padding: 40px;
      &-top {
        padding: 40px 40px 0;
      }
      &-bottom {
        padding: 0 40px 40px;
      }
      &-narrow {
        padding: 0 40px;
      }
      &-no-background {
        padding: 40px 15px;
      }
    }
    &-tall {
      padding: 40px 0;
      &-no-background {
        padding: 40px 15px;
        &-top {
          padding: 40px 15px 0;
        }
        &-bottom {
          padding: 0 15px 40px;
        }
      }
      &-top {
        padding-top: 40px;
      }
      &-bottom {
        padding-bottom: 40px;
      }
    }
    &-no-background {
      padding-left: 15px;
      padding-right: 15px;
      &-top {
        padding: 15px 15px 0;
      }
      &-bottom {
        padding: 0 15px 15px;
      }
    }
  }
  .less-padding {
    padding: 13px 25px;
  }

  .toggle-check {
    visibility: hidden;
    position: absolute;
    left: -999999px;
  }
  .ssp-btn.ghost-btn-filter {
    border: 2px solid #41779c;
    color: #41779c !important;
    background-color: transparent !important;
    padding: 11px 60px;
    width: 100%;
  }
  .ssp-btn.ghost-btn-filter:hover {
    background-color: rgba(65, 119, 156, 0.2) !important;
  }
  .toggle-check:checked + .ssp-btn.ghost-btn-filter {
    background-color: #41779c !important;
    color: #ffffff !important;
  }
  .toggle-check:checked + .ssp-btn.ghost-btn-filter:hover {
    background-color: rgba(65, 119, 156, 0.8) !important;
  }

  .img-badge{
    width: 125px;
    border-radius: 75px;
    margin: 0 auto;
  }

  .icon-feature{
    max-width: 250px;
  }

  .pdf-img-download {
    margin-bottom: 10px;
  }

  .object-fit {
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      margin: auto;
      min-width: 100%;
      top: -1000px;
      bottom: -1000px;
      left: -1000px;
      right: -1000px;
    }
  }

  .thumbnail-container {
    min-height: 185px;
    display: table;
    width: 100%;
    img {
      display: table-cell !important;
      vertical-align: middle;
      margin: 0 auto;
      max-width: 100%;
      max-height: 185px;
      width: auto;
    }
  }

  .table-striped-dark {
    table {
      width: auto;
      td, th, tr {
        border: none;
      }
      td {
        padding: 7px 27px;
        vertical-align: middle;
      }
      & tr:nth-child(odd) {
        background-color: #e1dfe4;
      }
      & tr:nth-child(1) {
        background: none;
      }
    }
  }

  .p-extra-bottom {
    p {
      margin-bottom: 30px;
    }
  }

  .list-unstyled {
    list-style-type: none;
  }
  .ul-extra-bottom {
    ul {
      margin-bottom: 30px;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .header-underline, .text-underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #aeaeae;
    margin-bottom: 20px;
  }

  .border-top {
    border-top: 1px solid #aeaeae;
  }
  .border-top-thick{
    border-top: 8px solid #464646;
  }
  .border-bottom {
    border-bottom: 1px solid #aeaeae;
  }

  .upper-line-title, .upper-line-title-extra {
    border-top: 1px solid #aeaeae;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: transparent;
    font-family: @proxima-nova-rgbold;
    color: @header-color;
    em {
      font-family: @proxima-nova-bold-italic;
    }
  }
  .upper-line-title-extra {
    padding-top: 20px;
    margin-top: 20px;
  }

  .glyphicon-triangle-left, .glyphicon-triangle-right {
    font-size: 34px;
    position: absolute;
    top: 46%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }
  .glyphicon-triangle-left {
    padding: 6px 5px 6px 1px;
  }
  .glyphicon-triangle-right {
    padding: 6px 1px 6px 5px;
  }

  .link-list, .link-list-border-bottom{
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: 30px;
    }
  }
  .link-list-border-bottom {
    ul {
      margin-top: 0;
      display: inline-block;
    }
    li {
      display: inline-block;
      border-bottom: 1px solid #aeaeae;
      padding-bottom: 30px;
      margin-top: 30px;
    }
    li:last-of-type {
      border-bottom: none;
    }
  }
  .link-list-spaced {
    ul {
      padding-left: 0;
      list-style-type: none;
      margin-top: 10px;
    }
    li {
      margin-bottom: 30px;
    }
  }

  .list-columns {
    hr {
      margin: 20px 40px 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        margin-bottom: 30px;
        div:nth-of-type(1) {
          left: 20px;
          padding-right: 35px;
        }
        div:nth-of-type(1)::before {
          content: ' ';
          line-height: 0;
          font-size: 0;
          border: 3.5px solid #222;
          position: relative;
          right: 12px;
          margin-left: -8px;
          bottom: 7px;
        }
      }
      li:last-of-type {
        border-bottom: 20px;
      }
      li::after {
        display: block;
        height: 40px;
        border-bottom: 1px solid #aeaeae;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 40px;
      }
      li:last-of-type::after {
        border-bottom-color: transparent;
        height: 0;
      }
    }
    .small {
      font-size: 12px;
    }
  }

  ol.no-indent, ul.no-indent {
    padding-left: 20px;
  }

  .color-blue{
    color: @bt-blue;
  }
  .color-medium-gray{
    color: @medium-gray;
  }

  .background {
    &-light-gray {
      background-color: #f1f1f1;
    }
    &-gray {
      background-color: #e6e5e9;
    }
    &-mid-gray {
      background-color: #d8d7da;
    }
    &-blue {
      background-color: @bt-blue;
      a, h4, i {
        display: inline;
        color: #fff;
      }
      h4 {
        margin-right: 10px;
      }
      p {
        color: #fff;
      }
      a {
        text-decoration: underline;
        text-decoration-color: #fff;
      }
      a:hover {
        text-decoration-color: #fff;
      }
    }
    &-scarlet {
      background-color: @color-success-red;
    }
    &-kelly-green {
      background-color: @color-success-green;
    }
    &-purple {
      background-color: rgba(108,48,120, 1);
    }
  }

  .upper-rule {
    border-top: 1px solid #1a191a;
  }
  .color-row {
    &-blue, &-green, &-red {
      h2 {
        font-size: 40px;
        color: #fff;
        padding-bottom: 30px;
      }
      p {
        color: #fff;
        font-size: 1em;
      }
    }
    &-green {
      background-color: @bpu-green;
    }
    &-red {
      background-color: #ce1343;
    }
    &-blue {
      background-color: @bt-blue;
    }
  }
.teal-circle {
    background: #26bbc3;
    height: 130px;
    width: 130px;
    display: table-cell;
    border-radius: 50%;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.yellow-block{
  background: #ffd621;
  border-radius: 20px;
}
  .row-third-right {
    padding-right: 0;
  }
  .row-third-left {
    padding-left: 0;
  }
  .row-table-equal-height-middle, .row-table-equal-height-top-middles {
    width: 100%;
  }

  .social-links {
    float: right;
    // display: inline;
    display: none;
    list-style-type: none;
    padding: 0;
    margin-top: 3px;
    h5 {
      float: right;
      margin-bottom: 0;
    }
    li {
      cursor: pointer;
      display: inline;
      font-size: 26px;
      padding: 5px;
      transition: opacity 200ms;
    }
    li:hover {
      opacity: 0.75;
    }
    .fa-facebook-square {
      color: #3c5b9a;
    }
    .fa-twitter-square {
      color: #55acee;
    }
    .fa-youtube-square {
      color: #de2c28;
    }
  }

  /* Webinar page */
  .filter-results {
    display: none;
  }
  .live-webinar {
      border: 1px solid grey;
      padding: 25px;
      margin-bottom: 40px;
  }

  .on-demand-webinar{
    text-align: center;
    background: #f2eee6;
    margin-bottom: 60px;
    padding-bottom:20px;

    img{
      margin-bottom: 20px;
    }

    p{
      font-size: 2em;
      font-weight: 100;
    }
  }
  .sidebar{
    padding: 20px;

    ul{
      li{
        list-style-type: none;
        margin-left: -40px;
        padding: 20px 0;
      }
    }
  }
  input[type=checkbox], input[type=radio] {
      margin: 20px 10px 0 0;
  }

  /* new SEL page */

  .color-circles{
    text-align: center;
    span {
      display: inline-block;
      margin: 0 auto 20px;
      padding: 0 8px;

      p{
        height: 200px;
        width: 200px;
        border-style: solid;
        border-width: 18px;
        border-radius: 50%;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: uppercase;
        color: #888;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
      .border-color{
        &-green{
          border-color: #2ac49a;
        }
        &-magenta{
          border-color: #cb15cb;
        }
        &-blue{
          border-color: #004eff;
        }
        &-orange{
          border-color: #ff6c00;
        }
        &-yellow{
          border-color: #ffd200;
        }
        &-lime{
          border-color: #78c811;
        }
        &-purple{
          border-color: #a800ff;
        }
        &-skyblue{
          border-color: #009cff;
        }
      }
    }
  }
  /* End Misc */
  @media screen and (min-width: 992px) {
    .row-table-equal-height-bottom, .row-table-equal-height-md, .row-table-equal-height-md-one-third, .row-table-equal-height-middle, .row-table-equal-height-top-middles {
      display: table;
      table-layout: fixed;
      [class^=col] {
        float: none;
        display: table-cell;
        vertical-align: top;
        &.align-top {
          vertical-align: top;
        }
      }
    }
    .three-two-one section:nth-of-type(3n + 4) {
      clear: left;
    }

    .row-table-equal-height-md-one-third {
      width: ~ 'calc(33% + 45px)';
    }

    .row-table-equal-height-top-middles {
      [class^=col] {
        vertical-align: top;
        img{
          margin: 0 auto;
          display: block;
        }
      }
      [class^=col]:nth-of-type(1) {
        vertical-align: middle;
      }
    }
    .row-table-equal-height-middle {
      width: ~ 'calc(100% + 30px)';
      [class^=col] {
        vertical-align: middle;
      }
    }
    .row-table-equal-height-bottom {
      width: 100%;
      [class^=col] {
        vertical-align: bottom;
      }
      [class^=col]:nth-of-type(1) {
        vertical-align: middle;
      }
    }

    .row-table-ie-md {
      margin: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    .row-related-links, .row-table-equal-height-bottom, .row-table-equal-height-top-middles, .row-table-equal-height-md, .row-table-equal-height-md-one-third {
      [class^=col-md] {
        float: none;
        width: 450px;
        max-width: 100%;
        margin: 25px auto;
        img {
          display: inline-block;
        }
      }
    }
    .three-two-one section:nth-of-type(2n + 3) {
      clear: left;
    }

    .row-table-equal-height-bottom {
      .product-features {
        text-align: center;
      }
      h6 {
        font-size: 1.5em;
      }
    }

    .row-webinar-videos {
      section, section[class^=col-md] {
        width: 450px;
        max-width: 100%;
        margin: 0 auto;
        .object-fit {
          height: 175px;
        }
      }
    }

    .carousel {
      height: 350px;
      h2 {
        font-size: ~ 'calc(120px * .8)';
        line-height: 1;
        margin: 0;
        text-align: center;
      }
      h2.small {
        font-size: ~ 'calc(80px * .8)';
        line-height: ~ 'calc(80px * .8)';
        margin: 0;
      }
      h3.large {
        font-size: ~ 'calc(48px * .8)';
        line-height: ~ 'calc(48px * .8)';
      }
      h3 {
        font-size: ~ 'calc(34px * .8)';
        line-height: ~ 'calc(34px * .8)';
      }
      h4 {
        font-size: ~ 'calc(34px * .8)';
        line-height: ~ 'calc(34px * .8)';
      }
      h5 {
        font-size: ~ 'calc(26.5px * .8)';
        line-height: ~ 'calc(26.5px * .8)';
      }
      h6 {
        font-size: ~ 'calc(24px * .8)';
        line-height: ~ 'calc(24px * .8)';
      }
    }
    .carousel-caption-wrapper {
      min-height: 320px;
    }
  }
  @media screen and (min-width: 768px) {
    .row-table-two-columns-equal-height {
      display: table;
      table-layout: fixed;
      section {
        float: none;
        display: table-cell;
        vertical-align: top;
      }
      section:nth-of-type(1) {
        padding-left: 60px;
      }
      section:nth-of-type(2) {
        padding-right: 60px;
      }
    }

    .row-table-equal-height, .row-table-equal-height-button, .row-table-equal-height-top, .row-table-ie {
      display: table;
      table-layout: fixed;
      [class^=col] {
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .row-table-ie {
      margin: 0;
      width: 100%;
    }

    .row-table-equal-height-top {
      [class^=col] {
        vertical-align: top;
      }
    }
    .row-table-equal-height-button {
      [class^=col] {
        vertical-align: top;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .row-success-banner {
      h3 {
        font-size: 50px;
        line-height: 50px;
      }
    }

    .row-classroom-kits, .row-table-equal-height, .row-table-equal-height-bottom, .row-table-equal-height-button, .row-table-equal-height-top, .row-feature-image {
      [class^=col] {
        float: none;
        width: 450px;
        max-width: 100%;
        margin: 0 auto;
      }
    }
    .row-table-equal-height{
      figure[class^=col]{
        display: block;
        margin: 25px auto;
      }
    }
    .row-table-equal-height-button {
      [class^=col] {
        padding-bottom: 1px;
        margin: 0 auto 40px;
      }
      .object-fit {
        max-height: none;
        height: 175px;
        img {
          width: 410px;
        }
      }
    }
    .row-feature-image{
      article[class^=col]{
          margin: 25px auto;
      }
    }

    .row-half-image{
      min-height: auto;
      aside {
        padding: 15px 0;
      }
      figure[class^=col]{
        display: block;
        margin: 0 auto;
        height: 250px;
      }
    }

    .row-videos-gray{
      section{
        width: 100%;
        article{
          max-width: 450px;
          margin: 0 auto;
        }
      }
    }

    .row-feature-dotted{
      .media{
        max-width: 450px;
        margin: 0 auto;
      }
      .media-left{
        display: block;
      }
    }

    .row-student-assemessment{
      [class^=col]{
        margin: 25px auto;
        text-align: left;
        width: 450px;
        padding: 0;
      }
       img{
        width: 450px;
      }
    }

    .table-striped-dark {
      table {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .padding-standard, .padding-standard-bottom, .padding-standard-top, .row-copy-intro, .row-half-image [class^=col], .row-half-video [class^=col], .row-webinar-related {
      padding-left: 15px;
      padding-right: 15px;
    }
    .row-table-equal-height-bottom {
      h6 {
        font-size: 1em;
      }
    }

    .row-webinar-related {
      aside {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .row-funding-circles {
      [class^=col] {
        width: 100%;
      }
    }

    .row-page-title h1 {
      display: block;
      float: left;
    }

    .social-links {
      clear: both;
      float: left;
    }

    .row-success-banner {
      h3 {
        font-size: 40px;
        line-height: 40px;
      }
    }

    .carousel {
      height: 400px;
      h2 {
        font-size: ~ 'calc(120px * .64)';
        line-height: 1;
        margin: 0;
      }
      h2.small {
        font-size: ~ 'calc(80px * .64)';
        line-height: ~ 'calc(80px * .64)';
        margin: 0;
      }
      h3.large {
        font-size: ~ 'calc(48px * .64)';
        line-height: ~ 'calc(48px * .64)';
      }
      h3 {
        font-size: ~ 'calc(34px * .64)';
        line-height: ~ 'calc(34px * .64)';
      }
      h4 {
        font-size: ~ 'calc(34px * .64)';
        line-height: ~ 'calc(34px * .64)';
      }
      h5 {
        font-size: ~ 'calc(26.5px * .64)';
        line-height: ~ 'calc(26.5px * .64)';
      }
      h6 {
        font-size: ~ 'calc(24px * .64)';
        line-height: ~ 'calc(24px * .64)';
      }
    }
    .carousel-caption-wrapper {
      min-height: 370px;
    }
    .carousel-caption {
      padding: 10px 70px;
    }
    .carousel-indicators {
      width: 65%;
    }
    .carousel-control.left {
      [class^=glyphicon] {
        left: 10px;
      }
    }
    .carousel-control.right {
      [class^=glyphicon] {
        right: 10px;
      }
    }

    .row-webinar-videos {
      h3 {
        padding-bottom: 15px;
      }
    }
  }
}
