#footer{
  margin-top: 70px;
}
.ssp-main-container {
  font-family: 'proxima_nova_rgregular';
  .ssp-footer {
    .row-breadcrumb,
    .row-copyright,
    .row-footer-inner {
      box-sizing: border-box;
      width: ~ 'calc(100% + 15px)';
      display: table;
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1170px;
    }
    .row-breadcrumb {
      padding: 40px 55px 30px;
      h6{
        color: #fff;
        font-family: "proxima_nova_rgregular";
        margin-left: 0;
      }
    }
    .breadcrumb{
      background-color: transparent;
    }
    .row-footer > hr{
      margin: 0;
      border: 0;
      height: 1px;
      background-color: #666;
      background-image: none;
    }
    .row-footer-inner {
      padding-bottom: 30px;
    }
    .row-copyright {
      span{
        font-family: "proxima_nova_rgregular";
      }
      p {
        margin-bottom: 0;
      }
      ul{
        text-align: right;
      }
      li {
        display: inline-block;
        width: auto;
        &:after {
          content: '';
          margin: 0 19px 0 21px;
          border-right: 1px solid white;
        }
        &:last-of-type {
          &:after {
            margin: 0;
            border: none;
          }
        }
      }
    }
    .copyright{
      width: 390px;
      right: ~ 'calc(100% - 390px)';
      p{
        line-height: 19px;
        margin-bottom: 0;
      }
    }
    .copyright-links{
      width: ~ 'calc( 100% - 390px)';
      left: 390px;
      li{
        margin-bottom: 0;
      }
    }
    .c-sm-4,
    .c-sm-8,
    .copyright,
    .copyright-links {
      float: left;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
    }
    .c-sm-4{
      width: 33%;
    }
    .c-sm-8 {
      width: 67%;
    }
    a,
    p,
    span {
      font-size: 16px;
      color: #fff;
    }
    h5 {
      margin: 0;
      color: #fff !important;
      font-size: 18px;
      margin-bottom: 20px;
      text-transform: none;
    }
    h5,
    strong {
      font-family: 'proxima_nova_rgbold';
      font-weight: 400;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 15px;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    a:hover {
      i {
        background: #999;
        color: #fff;
      }
    }
    i {
      height: 35px;
      width: 35px;
      background: #fff;
      color: #444;
      border-radius: 50%;
      vertical-align: middle;
      line-height: 35px;
      margin-right: 10px;
      text-align: center;
      transition: all 0.1s ease-in;
    }
    @media screen and (max-width: 1020px) {
      .copyright, .copyright-links{
        left: 0;
        right: 0;
        width: 100%;
        display: block;
        margin-bottom: 0;
      }
      .row-copyright {
        .copyright-links {
          ul{
            text-align: left;
          }
          li {
            display: block;
            margin-bottom: 20px;
            &:after {
              margin: 0;
              border: 0;
            }
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      .row-breadcrumb, .row-footer-inner, .row-copyright{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
      .row-breadcrumb{
        h6{
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      ul li{
        margin-bottom: 20px;
      }
      .c-sm-4,
      .c-sm-8 {
        width: 100%;
        display: block;
      }
      .c-sm-4 {
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
